# Tổng quan phần tiền xử lý

- Xử lí thiếu dữ liệu

- Xử lí nhiễu

- Chuẩn hóa dữ liệu

## 1. Import libraries

In [31]:
#import các thư viện cần thiết
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer

## 2. Data pre-precessing and exploration

- Đọc dữ liệu từ data/raw_dataset.csv

In [32]:
raw_data = pd.read_csv('../data/raw_dataset.csv')
raw_data.sample(5)

,Liên kết,Tên công ty,Tên công việc,Mức lương,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,...,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Địa điểm làm việc,Mô tả công việc,Yêu cầu công việc,Quyền lợi,Từ khóa,Địa chỉ công ty,Quy mô công ty
883,https://vieclam24h.vn/kien-truc-thiet-ke-noi-n...,Công Ty Cổ Phần Xây Dựng Trang Trí Nội Thất Vuông,Nhân Viên Thiết Kế Kiến Trúc Kỹ Thuật,12 - 20 triệu,TP.HCM,2 tháng,Chuyên viên- nhân viên,NaN,1,Toàn thời gian cố định,...,Đại học,2 năm,Kiến trúc - Thiết kế nội ngoại thất/Thiết kế -...,"TP.HCM, 7A/5/6A Thành Thái, Quận 10","Giao tiếp, trao đổi nắm bắt nhu cầu khách hàng...",* Yêu cầu cơ bản: Trình độ: Tốt nghiệp đại họ...,1. Chính sách thưởng P3 theo quy định của c...,nhân viên thiết kế kiến trúcnhân viên vận hành...,"7a/5/6a Thành Thái, Phường 14, Quận 10, Tp.HCM...",10 - 150 người
5531,https://vieclam24h.vn/hoa-hoc-hoa-sinh/dong-na...,Công Ty TNHH FEDDY,Đồng Nai - Nhân Viên R&D Công Thức - Food,7 - 12 triệu,Đồng Nai,2 tháng,Chuyên viên- nhân viên,NaN,1,Toàn thời gian cố định,...,Đại học,1 năm,Hóa học - Hóa sinh/Thực phẩm - Đồ uống/Công ng...,"Đồng Nai, Nhà máy DnF, Xã Trung Hòa, Trảng Bom",* Phát triển sản phẩm mới- Hỗ trợ xác định các...,- Tốt nghiệp đại học hoặc cao học chuyên ngành...,- Lương tháng 13- Bảo hiểm sức khỏe và bảo hiể...,r&dmasan foodthiết kế game di độngViệc làm Đồn...,"Tầng 07, Tòa nhà Centec, 72-74 Nguyễn Thị Minh...",Trên 300 người
4459,https://vieclam24h.vn/ke-toan/ke-toan-tong-hop...,Công Ty Cổ Phần Đông Tây Land,Kế Toán Tổng Hợp - Đi Làm Ngay,15 - 18 triệu,TP.HCM,NaN,Chuyên viên- nhân viên,Nữ,1,Toàn thời gian cố định,...,Cao đẳng,3 năm,Kế toán/Kiểm toán/Tài chính - Đầu tư - Chứng K...,"TP.HCM, Đông Tây Building - 192 Trần Não, P. B...",- Phụ trách công tác hạch toán kế toán và thiế...,"- Giới tính: Nữ, từ 28 – 35 tuổi- Tốt nghiệp C...",- Lương cứng thỏa thuận theo năng lực- Chế độ ...,kế toántoánlàm ngayViệc làm TP.HCMKế toánCông ...,"Đông Tây Building - 192 Trần Não, P. BbAn Khán...",150 - 300 người
828,https://vieclam24h.vn/thiet-ke-sang-tao-nghe-t...,Công Ty Cổ Phần Công Nghiệp Và Thương Mại Cườn...,Team Leader Marketing Ngành Vật Liệu Xây Dựng ...,15 - 20 triệu,TP.HCM,NaN,Chuyên viên- nhân viên,NaN,2,Toàn thời gian cố định,...,Cao đẳng,3 năm,Thiết kế - Sáng tạo nghệ thuật/Marketing/Thông...,"TP.HCM, 114/20A Tô Ngọc Vân, Quận 12",- Xây dựng các chiến lược marketing online cho...,"- Thành thạo các công cụ quảng cáo: Facebook, ...","- Được xét nâng lương định kỳ- Quà sinh nhật, ...",xây dựngnhậpleaderViệc làm TP.HCMThiết kế - Sá...,"Hồ Chí Minh: 114/20A Tô Ngọc Vân, Phường Thạnh...",10 - 150 người
2609,https://vieclam24h.vn/nong-lam-ngu-nghiep/nhan...,Công Ty Cổ Phần Tập Đoàn Giống Cây Trồng Việt Nam,Nhân Viên Kinh Doanh Hạt Giống Rau,9 - 15 triệu,Hà Nội,2 tháng,Chuyên viên- nhân viên,Nam,3,Toàn thời gian cố định,...,Cao đẳng,1 năm,Nông - Lâm - Ngư nghiệp,"Hà Nội, 01 Lương Định Của, phường Phương Mai, ...",Thực hiện các nghiệp vụ bán hàngPhát triển thị...,"Nam, tốt nghiệp Cao đẳng trở lên chuyên ngành ...","Môi trường làm việc ổn định, lâu dài.Được đào ...",hạt giốnglập trình unityvisual merchandisingVi...,Số 01 lương đình của phương mai đống đa hà nội,Trên 300 người

## Đầu tiên chúng ta cần một cái nhìn tổng quan về dữ liệu này

In [33]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5591 entries, 0 to 5590
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Liên kết             5591 non-null   object
 1   Tên công ty          5591 non-null   object
 2   Tên công việc        5591 non-null   object
 3   Mức lương            5591 non-null   object
 4   Khu vực tuyển        5591 non-null   object
 5   Thời gian thử việc   3577 non-null   object
 6   Cấp bậc              5591 non-null   object
 7   Yêu cầu giới tính    1927 non-null   object
 8   Số lượng tuyển       5591 non-null   int64
 9   Hình thức làm việc   5591 non-null   object
 10  Độ tuổi              2817 non-null   object
 11  Yêu cầu bằng cấp     4905 non-null   object
 12  Yêu cầu kinh nghiệm  5591 non-null   object
 13  Ngành nghề           5591 non-null   object
 14  Địa điểm làm việc    5581 non-null   object
 15  Mô tả công việc      5591 non-null   object
 16  Yêu cầu công việc    5590 non-null   object
 17  Quyền lợi            5590 non-null   object
 18  Từ khóa              5591 non-null   object
 19  Địa chỉ công ty      5591 non-null   object
 20  Quy mô công ty       5591 non-null   object
dtypes: int64(1), object(20)
memory usage: 917.4+ KB

**Giải thích ý nghĩa các cột trong raw data và khám phá kiểu dữ liệu cũng như định dạng của chúng:**
0. Liên kết : Liến đển đến trang tuyển dụng của trang web
1. Tên công ty: Tên công ty tuyển dụng
- Dựa vào tên công ty ta thấy có 2 loại công ty là công ty cổ phần, công ty trách nhiệm hữu hạn.
2. Tên công việc : Tên công việc đang cần uyển dụng
3. Mức lương: Mức lương tuyển dụng theo định dạng như:  **'7 - 10 triệu'**
4. Khu vực tuyển dụng: Đó là một list các tỉnh thành được ngăn cách nhau bởi dấu ,
5. Thời gian thử việc
6. Cấp bậc: Cấp bậc của công việc đang tuyển dụng
7. Yêu cầu giới tính: Một số công việc chỉ ưu tiên nữa hoặc ưu tiên nam.
8. Số lượng tuyển: có kiểu **int64**
9.  Hình thức làm việc
10. Yêu cầu bằng cấp
11. Yêu cầu kinh nghiệm: '1 năm', '2 năm', ...
12. Ngành nghề: Là một list các ngành nghề được ngăn cách nhau bởi dấu / 'Bán hàng - Kinh doanh/Bất động sản/Bảo hiểm'
13. Điah điểm làm việc: Địa chỉ cụ thể của nơi làm việc
14. Mô tả công việc: Mô tả công việc đang tuyển dụng
15. Quyền lợi được hưởng: Quyền lợi được hưởng khi làm việc tại công ty
16. Từ khóa: Từ khóa của công việc đang tuyển dụng
17. Địa chỉ công ty: Địa chỉ công ty
18. Quy mô công ty: Quy mô công ty
 

= > Để tiếp tực khám phá dữ liệu ta cần phải loại bở những cột không cần thiết, xử lý những cột còn thiếu dữ liệu, những cột có dữ liệu nhiễu, những cột có dữ liệu không chuẩn.

- Vì có một số công việc được đăng tuyển dụng nhiều lần nhưng mỗi lần đăng thì giá trị cột liên kết sẽ khác nhau nên việc kiểm tra trùng lặp dữ liệu sẽ được nhóm thực hiện sau khi đã loại bỏ cột này

- Xem dữ liệu ban đầu có mất mát là bao nhiêu %

In [34]:
percentage_missing_data = pd.DataFrame(raw_data.isnull().sum().sort_values(ascending=False) / len(raw_data) * 100, columns=['% missing'])
percentage_missing_data

                     % missing
Yêu cầu giới tính    65.533894
Độ tuổi              49.615453
Thời gian thử việc   36.022179
Yêu cầu bằng cấp     12.269719
Địa điểm làm việc     0.178859
Quyền lợi             0.017886
Yêu cầu công việc     0.017886
Yêu cầu kinh nghiệm   0.000000
Địa chỉ công ty       0.000000
Từ khóa               0.000000
Mô tả công việc       0.000000
Ngành nghề            0.000000
Liên kết              0.000000
Tên công ty           0.000000
Hình thức làm việc    0.000000
Số lượng tuyển        0.000000
Cấp bậc               0.000000
Khu vực tuyển         0.000000
Mức lương             0.000000
Tên công việc         0.000000
Quy mô công ty        0.000000

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột Tên Công ty</b></font>

- Ở cột tên công Có 2 loại Công ty TNHH và công ty cổ phần. Nhóm sẽ thêm cột loại Công ty để phân biệt 2 loại công ty này.

In [35]:
cp_signal = [ 'cp', 'cổ phần']
tnhh_signal = ['tnhh','một thành viên', 'tư nhân', 'trách nhiệm hữu hạn' , 'hộ kinh doanh']
name_company = raw_data['Tên công ty'].str.lower()
# name_company
# Phân tích thành 2 loại công ty: TNHH và Cổ phần nếu bất kỳ chuyển nào so khớp với tên công ty
# Nếu khớp với một trong 2 loại thì gán cho cột Loại công ty. 1 Cho công ty tnhh, 2 cho công ty cổ phần và 0 nếu không khớp với bất kỳ giá trị nào 

conditions = [
    name_company.str.contains('|'.join(tnhh_signal), regex=True, na=False),
    name_company.str.contains('|'.join(cp_signal), regex=True, na=False)
]

# Tạo danh sách giá trị tương ứng cho mỗi điều kiện
values = [1, 2]

# Áp dụng hàm np.select để gán giá trị cho cột 'Loại công ty'
raw_data['Loại công ty'] = np.select(conditions, values, default=0)
print(raw_data['Loại công ty'].value_counts())
# Xóa những dòng không xác định được loại công ty
raw_data = raw_data[raw_data['Loại công ty'] != 0]

Loại công ty
1    3235
2    2127
0     229
Name: count, dtype: int64

- Một số cột không có nhiều giá trị trong quá trình phân tích của nhóm, hoặc dữ liệu không theo quy chuẩn khó khai thác như: 'Liên kết', 'Mô tả công việc', 'Quyền lợi', 'Yêu cầu công việc', 'Từ khóa'. Sẽ được nhóm bỏ qua trong đồ án này.

In [36]:
raw_data.drop(['Liên kết','Tên công ty','Tên công việc', 'Mô tả công việc', 'Quyền lợi', 'Yêu cầu công việc', 'Từ khóa','Địa điểm làm việc', 'Địa chỉ công ty'], axis=1, inplace=True)
raw_data.sample(5)

,Mức lương,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,Độ tuổi,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Quy mô công ty,Loại công ty
108,10 - 12 triệu,Bình Dương,2 tháng,Chuyên viên- nhân viên,NaN,2,Toàn thời gian cố định,NaN,Cao đẳng,2 năm,Hành chính - Thư ký/Kế toán/Chăm sóc khách hàng,10 - 150 người,1
2075,9 - 20 triệu,TP.HCM,NaN,Chuyên viên- nhân viên,NaN,2,Toàn thời gian cố định,18 - 35 tuổi,Trung cấp,1 năm,IT Phần cứng - Mạng/Bán hàng - Kinh doanh/Chăm...,150 - 300 người,2
3658,10 - 20 triệu,Hà Nội,2 tháng,Chuyên viên- nhân viên,NaN,5,Toàn thời gian cố định,NaN,Trung cấp,Dưới 1 năm,Kế toán/Bán hàng - Kinh doanh/Kiểm toán,10 - 150 người,1
2324,8 - 10 triệu,Long An,1 tháng,Chuyên viên- nhân viên,Nam,40,Toàn thời gian cố định,18 - 40 tuổi,NaN,Chưa có kinh nghiệm,Sản xuất - Lắp ráp - Chế biến/Lao động phổ thô...,10 - 150 người,1
184,6 - 8 triệu,TP.HCM,NaN,Chuyên viên- nhân viên,NaN,1,Toàn thời gian cố định,NaN,Cao đẳng,1 năm,Giáo dục - Đào tạo/Chăm sóc khách hàng/Hành ch...,Trên 300 người,2

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột Mức lương</b></font>

- Tiếp đến chúng ta cần xử lý cột lương để đưa cột này về một giá trị có kiểu dữ liệu np.float64 thay vì object. Vì các giá trị lương được định nghĩa là một khoảng 'a - b triệu' nhóm quyết định sẽ tạo thêm 3 cột 'Lương trung bình', 'Lương tối thiểu', 'Lương tối đa'. Với cột 'Lương trung bình' trung bình cộng của a và b. Bên cạnh đó còn có một số công việc để mức lương này có giá trị là 'Thỏa thuận', vì số lượng này không nhiều nên nhóm quyết định sẽ loại bỏ các công việc này.

In [37]:
df = raw_data[raw_data['Mức lương'] == 'Thoả thuận ']
print(df.shape)
#Chỉ có 15 trường hợp như thế này 
#=> Xóa các trường hợp này đi
raw_data.drop(df.index, inplace=True)

(62, 13)

In [38]:
def process_salary(salary):
    try:
        a, b = salary.split(' - ')
        a = float(a)
        b = float(b.replace(' triệu', ''))
        return pd.Series([a, b, (a + b) / 2])
    except:
        # Lấy số trong lương
        salary = float(salary.replace(' triệu', ''))
        return pd.Series([salary, salary, salary])
raw_data[['Mức lương tối thiểu', 'Mức lương tối đa', 'Mức lương trung bình']] = raw_data['Mức lương'].apply(process_salary)
raw_data.drop('Mức lương', axis=1, inplace=True)
raw_data.sample(5)

,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,Độ tuổi,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Quy mô công ty,Loại công ty,Mức lương tối thiểu,Mức lương tối đa,Mức lương trung bình
1804,TP.HCM,NaN,Chuyên viên- nhân viên,NaN,20,Toàn thời gian cố định,NaN,NaN,1 năm,Bán hàng - Kinh doanh/Bán sỉ - Bán lẻ - Quản l...,10 - 150 người,1,8.0,15.0,11.5
4328,Hà Nội,1.5 tháng,Chuyên viên- nhân viên,NaN,12,Toàn thời gian cố định,22 - 50 tuổi,Trung cấp,Dưới 1 năm,Kế toán,Dưới 10 người,1,8.0,15.0,11.5
1369,Đồng Tháp,NaN,Chuyên viên- nhân viên,NaN,2,Toàn thời gian cố định,NaN,Cao đẳng,1 năm,Bán sỉ - Bán lẻ - Quản lý cửa hàng/Bán hàng - ...,Trên 300 người,1,5.0,6.0,5.5
706,TP.HCM,2 tháng,Chuyên viên- nhân viên,Nam,1,Toàn thời gian cố định,NaN,Trung học,4 năm,Vận Tải - Lái xe - Giao nhận/Lao động phổ thôn...,10 - 150 người,1,10.0,13.0,11.5
4801,TP.HCM,NaN,Chuyên viên- nhân viên,NaN,10,Toàn thời gian cố định,15 - 30 tuổi,NaN,Chưa có kinh nghiệm,Thông tin - Truyền thông - Quảng cáo/Bán hàng ...,10 - 150 người,1,10.0,50.0,30.0

In [39]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5300 entries, 0 to 5590
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Khu vực tuyển         5300 non-null   object
 1   Thời gian thử việc    3380 non-null   object
 2   Cấp bậc               5300 non-null   object
 3   Yêu cầu giới tính     1850 non-null   object
 4   Số lượng tuyển        5300 non-null   int64
 5   Hình thức làm việc    5300 non-null   object
 6   Độ tuổi               2678 non-null   object
 7   Yêu cầu bằng cấp      4643 non-null   object
 8   Yêu cầu kinh nghiệm   5300 non-null   object
 9   Ngành nghề            5300 non-null   object
 10  Quy mô công ty        5300 non-null   object
 11  Loại công ty          5300 non-null   int32
 12  Mức lương tối thiểu   5300 non-null   float64
 13  Mức lương tối đa      5300 non-null   float64
 14  Mức lương trung bình  5300 non-null   float64
dtypes: float64(3), int32(1), int64(1), object(10)
memory usage: 641.8+ KB

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột Thời gian thử việc </b></font>

In [40]:
print(raw_data['Thời gian thử việc'].info())
print(raw_data['Thời gian thử việc'].value_counts())

<class 'pandas.core.series.Series'>
Index: 5300 entries, 0 to 5590
Series name: Thời gian thử việc
Non-Null Count  Dtype
--------------  -----
3380 non-null   object
dtypes: object(1)
memory usage: 82.8+ KB
None
Thời gian thử việc
2 tháng                         2504
1 tháng                          616
02 tháng                         102
3 tháng                           62
01 tháng                          37
1.5 tháng                         12
2  tháng                           9
0.5 tháng                          8
1  tháng                           6
1-2 tháng                          4
1 tháng tháng                      4
2 tháng tháng                      4
6 tháng                            3
03 tháng                           2
1.2 tháng                          1
2 tháng  tháng                     1
0.1 tháng                          1
Trao đổi khi phỏng vấn tháng       1
2 thang tháng                      1
1 Tháng tháng                      1
2 THÁNG tháng                      1
Name: count, dtype: int64

In [41]:
# Lấy phần số trong chuỗi
def get_number(string):
    try:
        return float(string.split(' ')[0])
    except:
        return np.nan
raw_data['Thời gian thử việc'] = raw_data['Thời gian thử việc'].apply(get_number)
print(raw_data['Thời gian thử việc'].info())
print(raw_data['Thời gian thử việc'].value_counts())

<class 'pandas.core.series.Series'>
Index: 5300 entries, 0 to 5590
Series name: Thời gian thử việc
Non-Null Count  Dtype
--------------  -----
3375 non-null   float64
dtypes: float64(1)
memory usage: 82.8 KB
None
Thời gian thử việc
2.0    2622
1.0     664
3.0      64
1.5      12
0.5       8
6.0       3
1.2       1
0.1       1
Name: count, dtype: int64

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b> Xử lý cột Yêu cầu giới tính</b></font>

In [42]:
raw_data['Yêu cầu giới tính'].info()

<class 'pandas.core.series.Series'>
Index: 5300 entries, 0 to 5590
Series name: Yêu cầu giới tính
Non-Null Count  Dtype
--------------  -----
1850 non-null   object
dtypes: object(1)
memory usage: 82.8+ KB

In [43]:
raw_data['Yêu cầu giới tính'].value_counts()

Yêu cầu giới tính
Nam    1139
Nữ      711
Name: count, dtype: int64

In [44]:
# Thay thế nhưng cột không có thông tin thành Không yêu cầu
raw_data['Yêu cầu giới tính'].fillna('Không yêu cầu', inplace=True)
raw_data['Yêu cầu giới tính'].value_counts()

Yêu cầu giới tính
Không yêu cầu    3450
Nam              1139
Nữ                711
Name: count, dtype: int64

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột dữ liệu Yêu cầu bằng cấp</b></font>

- Có thể thấy dữ liệu khá đầy đủ chỉ riêng cột 'Yêu cầu bằng cấp' có thiếu dữ liệu. Vậy chúng ta sẽ xử lí cột này.

In [45]:
raw_data['Yêu cầu bằng cấp'].value_counts()

Yêu cầu bằng cấp
Cao đẳng        1862
Đại học         1079
Trung cấp        999
Trung học        631
Chứng chỉ         67
Trên đại học       5
Name: count, dtype: int64

- Đây là một tiêu chí khá quan trọng khi tuyển hoặc tìm việc làm vì vậy khi trường này trống thì có thể hiểu được trong trường hợp này sẽ do phần lớn công việc không có yêu cầu về bằng cấp. Vậy ta sẽ điền 'Không' vào các vị trí bị thiếu dữ liệu.

In [46]:
raw_data['Yêu cầu bằng cấp'].replace(np.nan, 'Không', inplace=True)

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột dữ liệu Đô tuổi</b></font>

In [47]:
print(raw_data['Độ tuổi'].info())
print(raw_data['Độ tuổi'].value_counts())

<class 'pandas.core.series.Series'>
Index: 5300 entries, 0 to 5590
Series name: Độ tuổi
Non-Null Count  Dtype
--------------  -----
2678 non-null   object
dtypes: object(1)
memory usage: 82.8+ KB
None
Độ tuổi
22 - 35 tuổi    165
25 - 35 tuổi    164
18 - 30 tuổi    129
25 - 40 tuổi    118
18 - 35 tuổi    114
               ...
19 - 38 tuổi      1
24 - 48 tuổi      1
22 - 39 tuổi      1
18 - 53 tuổi      1
40 - 50 tuổi      1
Name: count, Length: 230, dtype: int64

- Ở cột đổ tuổi thì có format như ở mức lương nên nhóm em quyết định chia ra thành: Tuổi thấp nhất và Tuổi cao nhất và Tuổi trung bình. Những giá trị còn thiếu thì là np.nan

In [48]:
# format '18 - 35 tuổi' thành 2 cột là tuổi cao nhất và tuổi thấp nhất, Tuổi trung bình
def process_age(age):
    try:
        a, b = age.split(' - ')
        a = int(a)
        b = int(b.replace(' tuổi', ''))
        return pd.Series([a, b, (a + b) / 2])
    except:
        return pd.Series([np.nan, np.nan, np.nan])
raw_data[['Tuổi thấp nhất', 'Tuổi cao nhất', 'Tuổi trung bình']] = raw_data['Độ tuổi'].apply(process_age)
raw_data.drop('Độ tuổi', axis=1, inplace=True)
raw_data.sample(5)

,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Quy mô công ty,Loại công ty,Mức lương tối thiểu,Mức lương tối đa,Mức lương trung bình,Tuổi thấp nhất,Tuổi cao nhất,Tuổi trung bình
357,TP.HCM,2.0,Chuyên viên- nhân viên,Không yêu cầu,5,Toàn thời gian cố định,Không,Chưa có kinh nghiệm,Bán hàng - Kinh doanh/Hành chính - Thư ký/Mark...,10 - 150 người,1,7.0,10.0,8.50,18.0,28.0,23.0
4986,Bà Rịa - Vũng Tàu,2.0,Chuyên viên- nhân viên,Không yêu cầu,2,Toàn thời gian cố định,Trung học,1 năm,Chăm sóc khách hàng,Trên 300 người,2,7.0,8.0,7.50,20.0,30.0,25.0
636,Hà Nội,2.0,Quản lý nhóm- giám sát,Không yêu cầu,1,Theo hợp đồng tư vấn,Trung cấp,1 năm,Thu mua - Kho Vận - Chuỗi cung ứng/Nghề nghiệp...,10 - 150 người,1,8.0,10.0,9.00,25.0,40.0,32.5
1296,TP.HCM,NaN,Chuyên viên- nhân viên,Nữ,6,Bán thời gian cố định,Không,Chưa có kinh nghiệm,Khách sạn - Nhà hàng - Du lịch/Thực tập sinh/B...,10 - 150 người,1,20.0,30.0,25.00,NaN,NaN,NaN
1667,TP.HCM,2.0,Chuyên viên- nhân viên,Nam,3,Toàn thời gian cố định,Cao đẳng,1 năm,Bán sỉ - Bán lẻ - Quản lý cửa hàng/Bán hàng - ...,10 - 150 người,1,7.5,30.0,18.75,NaN,NaN,NaN

## Nhóm đã duyệt qua tất cả dữ liệu và xử lý các cột dữ liệu thiếu, nhiễu, không chuẩn. Tiếp theo chúng ta sẽ kiểm tra dữ liệu

- Kiểm tra trùng lặp dữ liệu

In [49]:
is_duplicate = raw_data.duplicated().any()
if is_duplicate:
    print("Có sự trùng lặp dữ liệu")
else:
    print("Không có sự trùng lặp dữ liệu")

Có sự trùng lặp dữ liệu

- Có sự trùng lặp trong bộ dữ liệu nên chúng ta sẽ phải xử lí

In [50]:
#remove duplicate
raw_data.drop_duplicates(inplace=True)
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5090 entries, 0 to 5590
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Khu vực tuyển         5090 non-null   object
 1   Thời gian thử việc    3221 non-null   float64
 2   Cấp bậc               5090 non-null   object
 3   Yêu cầu giới tính     5090 non-null   object
 4   Số lượng tuyển        5090 non-null   int64
 5   Hình thức làm việc    5090 non-null   object
 6   Yêu cầu bằng cấp      5090 non-null   object
 7   Yêu cầu kinh nghiệm   5090 non-null   object
 8   Ngành nghề            5090 non-null   object
 9   Quy mô công ty        5090 non-null   object
 10  Loại công ty          5090 non-null   int32
 11  Mức lương tối thiểu   5090 non-null   float64
 12  Mức lương tối đa      5090 non-null   float64
 13  Mức lương trung bình  5090 non-null   float64
 14  Tuổi thấp nhất        2586 non-null   float64
 15  Tuổi cao nhất         2586 non-null   float64
 16  Tuổi trung bình       2586 non-null   float64
dtypes: float64(7), int32(1), int64(1), object(8)
memory usage: 695.9+ KB

# Kiểm tra lại dữ liệu sau khi đã xử lí

- Xác định Phần trăm dữ liệu bị thiếu

In [51]:
# Phần trăm dữ liệu bị thiếu và sắp xếp giảm dần
percentage_missing_data = pd.DataFrame(raw_data.isnull().sum().sort_values(ascending=False) / len(raw_data) * 100, columns=['% missing'])
percentage_missing_data

                      % missing
Tuổi trung bình       49.194499
Tuổi cao nhất         49.194499
Tuổi thấp nhất        49.194499
Thời gian thử việc    36.719057
Quy mô công ty         0.000000
Mức lương trung bình   0.000000
Mức lương tối đa       0.000000
Mức lương tối thiểu    0.000000
Loại công ty           0.000000
Khu vực tuyển          0.000000
Yêu cầu kinh nghiệm    0.000000
Yêu cầu bằng cấp       0.000000
Hình thức làm việc     0.000000
Số lượng tuyển         0.000000
Yêu cầu giới tính      0.000000
Cấp bậc                0.000000
Ngành nghề             0.000000

- Dự liệu tuổi và thời gian thử việc có rất nhiều missing do đó nhóm em quyết định dùng thuật toán KNN để điền khuyết dữ liệu

In [52]:

# Đảm bảo không có nhãn nào bị missing
mutil_label_features = ['Khu vực tuyển', 'Ngành nghề']
single_label_features = [ 'Cấp bậc', 'Số lượng tuyển','Hình thức làm việc','Yêu cầu bằng cấp', 
                'Yêu cầu kinh nghiệm', 'Quy mô công ty', 'Loại công ty']
targets = ['Thời gian thử việc', 'Tuổi thấp nhất', 'Tuổi cao nhất']

# Chuẩn bị dữ liệu
df_knn = raw_data[single_label_features].copy()
# Chức năng để tách dữ liệu
def split_labels(column, separator):
    return [[label.strip() for label in labels.split(separator)] for labels in column]

# Tách 'Khu vực tuyển'
khu_vuc_labels = split_labels(raw_data['Khu vực tuyển'], ', ')

# Tách 'Ngành nghề'
nganh_nghe_labels = split_labels(raw_data['Ngành nghề'], '/')

# Khởi tạo và áp dụng MultiLabelBinarizer
mlb_khu_vuc = MultiLabelBinarizer()
mlb_nganh_nghe = MultiLabelBinarizer()

khu_vuc_binarized = mlb_khu_vuc.fit_transform(khu_vuc_labels)
nganh_nghe_binarized = mlb_nganh_nghe.fit_transform(nganh_nghe_labels)

# Tạo DataFrame mới từ kết quả nhị phân
khu_vuc_df = pd.DataFrame(khu_vuc_binarized, columns=mlb_khu_vuc.classes_)
nganh_nghe_df = pd.DataFrame(nganh_nghe_binarized, columns=mlb_nganh_nghe.classes_)

# Đặt lại chỉ mục cho các DataFrame
df_knn.reset_index(drop=True, inplace=True)
khu_vuc_df.reset_index(drop=True, inplace=True)
nganh_nghe_df.reset_index(drop=True, inplace=True)

df_knn = pd.concat([df_knn, khu_vuc_df, nganh_nghe_df], axis=1)

# Mã hóa nhãn cho các cột chọn lựa
for col in single_label_features:
    le = LabelEncoder()
    df_knn[col] = le.fit_transform(df_knn[col])
    
print(df_knn.shape)
# Kiểm tra xem có giá trị Nan nào không và nằn ở những cột nào
assert df_knn.isnull().any().any() == False

(5090, 124)

In [53]:
print("Trước khi điền:", raw_data[targets].isnull().sum())

Trước khi điền: Thời gian thử việc    1869
Tuổi thấp nhất        2504
Tuổi cao nhất         2504
dtype: int64

In [54]:

# Tạo DataFrame chứa cả đặc trưng và mục tiêu
df_full = pd.concat([df_knn, raw_data[targets]], axis=1)

# Áp dụng KNNImputer
# Bạn có thể điều chỉnh tham số 'n_neighbors' tùy thuộc vào dữ liệu của bạn
imputer = KNNImputer(n_neighbors=5)
df_imputed = imputer.fit_transform(df_full)
df_imputed = pd.DataFrame(df_imputed, columns=df_full.columns)
# Cập nhật lại các cột mục tiêu trong DataFrame gốc
for target in targets:
    raw_data[target] = df_imputed[target]

# Kiểm tra DataFrame sau khi điền dữ liệu
print("Sau khi điền:", raw_data[targets].isnull().sum())

Sau khi điền: Thời gian thử việc    26
Tuổi thấp nhất        26
Tuổi cao nhất         26
dtype: int64

In [55]:
# Tính tuổi trung bình cho cột còn lại
raw_data['Tuổi trung bình'] = (raw_data['Tuổi thấp nhất'] + raw_data['Tuổi cao nhất']) / 2
# Như vậy vẫn còn 12 dòng không thể điền dữ liệu, vì thế ta sẽ xóa những dòng này đi
raw_data.dropna(inplace=True)

In [56]:
raw_data[targets].describe()

       Thời gian thử việc  Tuổi thấp nhất  Tuổi cao nhất
count         5064.000000     5064.000000    5064.000000
mean             1.811078       22.633784      36.247682
std              0.383744        2.713357       5.286601
min              0.100000       15.000000      19.000000
25%              1.800000       21.000000      33.600000
50%              2.000000       22.487626      35.400000
75%              2.000000       24.000000      40.000000
max              6.000000       44.000000      60.000000

In [57]:
# Tên các cột dữ liệu
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5064 entries, 0 to 5561
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Khu vực tuyển         5064 non-null   object
 1   Thời gian thử việc    5064 non-null   float64
 2   Cấp bậc               5064 non-null   object
 3   Yêu cầu giới tính     5064 non-null   object
 4   Số lượng tuyển        5064 non-null   int64
 5   Hình thức làm việc    5064 non-null   object
 6   Yêu cầu bằng cấp      5064 non-null   object
 7   Yêu cầu kinh nghiệm   5064 non-null   object
 8   Ngành nghề            5064 non-null   object
 9   Quy mô công ty        5064 non-null   object
 10  Loại công ty          5064 non-null   int32
 11  Mức lương tối thiểu   5064 non-null   float64
 12  Mức lương tối đa      5064 non-null   float64
 13  Mức lương trung bình  5064 non-null   float64
 14  Tuổi thấp nhất        5064 non-null   float64
 15  Tuổi cao nhất         5064 non-null   float64
 16  Tuổi trung bình       5064 non-null   float64
dtypes: float64(7), int32(1), int64(1), object(8)
memory usage: 692.3+ KB

In [58]:
# Lưu các giá tri vào file cleaned_dataset.csv
raw_data.to_csv('../data/cleaned_dataset.csv', encoding='utf-8-sig', index=False)