# Tổng quan phần tiền xử lý và khám phá dữ liệu

- Xử lí thiếu dữ liệu

- Xử lí nhiễu

- Chuẩn hóa dữ liệu

- Đưa ra những cái nhìn đầu tiên về dữ liệu

## 1. Import libraries

In [1]:
#import các thư viện cần thiết
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer

## 2. Data pre-precessing and exploration

- Đọc dữ liệu từ data/raw_dataset.csv

In [2]:
raw_data = pd.read_csv('../data/raw_dataset.csv')
raw_data.sample(5)

,Liên kết,Tên công ty,Tên công việc,Mức lương,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,...,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Địa điểm làm việc,Mô tả công việc,Yêu cầu công việc,Quyền lợi,Từ khóa,Địa chỉ công ty,Quy mô công ty
2557,https://vieclam24h.vn/van-hanh-bao-tri-bao-duo...,Công Ty Cổ Phần Công Nghiệp Weldcom,Nhân Viên Kỹ Thuật Điện Tử (Sửa Máy Hàn Điện T...,10 - 15 triệu,"Hà Nội, Hải Phòng, TP.HCM",2 tháng,Chuyên viên- nhân viên,Nam,3,Toàn thời gian cố định,...,Trung cấp,1 năm,Vận hành - Bảo trì - Bảo dưỡng/Điện - Điện tử ...,"Hà Nội, Số 97 đường 419 Thôn Bùng, Thạch Thất,...","- Sửa chữa, bảo hành, lắp đặt máy Hàn điện tử,...",Tốt nghiệp từ trung cấp nghề các chuyên ngành...,"Thu nhập 10 - 15 triệu đồng, gồm lương cơ bản ...",hànquận long biênthiết kế game di độngViệc làm...,Số 285A Ngô Gia Tự - Phường Đức Giang - Quận L...,Trên 300 người
334,https://vieclam24h.vn/ke-toan/nhan-vien-ke-toa...,Công Ty TNHH Phân Phối Dược Phẩm An Bình,Nhân Viên Kế Toán Tổng Hợp,6 - 10 triệu,Hà Nội,2 tháng,Chuyên viên- nhân viên,NaN,2,Toàn thời gian cố định,...,Cao đẳng,1 năm,Kế toán/Kiểm toán/Hành chính - Thư ký,"Hà Nội, Số 20 ngõ 102 Khuất Duy Tiến, Thanh Xuân","- Theo dõi, kiểm soát các công nợ- Đối chiếu v...","- Nam / Nữ, tốt nghiệp Cao đẳng/ Đại học các c...",- Các quyền lợi theo quy định của pháp luật:+ ...,kế toán tổng hợptổng hợpquận thanh xuânViệc l...,Số 20 ngõ 102 Khuất Duy Tiến - Phường Nhân Chí...,Dưới 10 người
1097,https://vieclam24h.vn/khach-san-nha-hang-du-li...,Công Ty Cổ Phần Jin Din Rou Việt Nam,Nam Biên Phiên Dịch Tiếng Nhật,10 - 12 triệu,TP.HCM,2 tháng,Chuyên viên- nhân viên,Nam,2,Toàn thời gian cố định,...,NaN,Chưa có kinh nghiệm,Khách sạn - Nhà hàng - Du lịch/Biên phiên dịch...,"TP.HCM, 172H-172Q Nguyễn Đình Chiểu, Phườn...",Công việc:Biên phiên dịch ngôn ngữ Nhật - Việt...,Giao tiếp tốt tiếng Nhật - Từ N3 (không yêu...,Nhân viên được làm việc trong môi trường thân ...,nhậtbiên phiên dịchnamViệc làm TP.HCMKhách sạn...,"180 Pasteur, Phường Bến Nghé, Quận 1, Thành ph...",Trên 300 người
2786,https://vieclam24h.vn/marketing/nhan-vien-van-...,Công Ty Trách Nhiệm Hữu Hạn Xuất Nhập Khẩu Mobell,Nhân Viên Vận Hành Sàn TMĐT,10 - 12 triệu,TP.HCM,NaN,Chuyên viên- nhân viên,NaN,3,Toàn thời gian cố định,...,Cao đẳng,1 năm,Marketing/Thông tin - Truyền thông - Quảng cáo...,"TP.HCM, 909/4 Quốc Lộ 1A, Phường An Lạc, Bình Tân",Quản lý và triển khai vận hành kênh TikTok Sho...,"Tốt nghiệp cao đẳng trở lên, chuyên ngành thươ...",Lương: Từ 10 triệu đến 12 triệu + Hoa hồngĐầy ...,vận hànhhuyện bình tânquận bình tân thành phố ...,"909/4 Quốc Lộ 1A, Phường An Lạc, Quận Bình Tân...",10 - 150 người
3603,https://vieclam24h.vn/ban-hang-kinh-doanh/nhan...,Công Ty Cổ Phần Đầu Tư Kinh Doanh Địa Ốc Đất Phúc,"Nhân Viên Kinh Doanh Bds Lương 10 Triệu, Hoa H...",10 - 100 triệu,TP.HCM,2 tháng,Chuyên viên- nhân viên,NaN,20,Toàn thời gian cố định,...,Trung học,1 năm,Bán hàng - Kinh doanh/Bất động sản,"TP.HCM, 27 Tam Bình , Tam Phú, Thủ Đức","﻿- Giới thiệu sản phẩm công ty, tư vấn tiềm nă...",- Nhân viên kinh doanh: độ tuổi 18 – 40. - Cấp...,"a. Chế độ Lương, Thưởng, Hoa hồng hấp dẫn- Lươ...",hoa hồngbdsnhân viên kinh doanh bdsViệc làm TP...,"27 Đường Tam Bình, Khu phố 2, Phường Tam Phú, ...",10 - 150 người

## Đầu tiên chúng ta cần một cái nhìn tổng quan về dữ liệu này

In [3]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5591 entries, 0 to 5590
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Liên kết             5591 non-null   object
 1   Tên công ty          5591 non-null   object
 2   Tên công việc        5591 non-null   object
 3   Mức lương            5591 non-null   object
 4   Khu vực tuyển        5591 non-null   object
 5   Thời gian thử việc   3577 non-null   object
 6   Cấp bậc              5591 non-null   object
 7   Yêu cầu giới tính    1927 non-null   object
 8   Số lượng tuyển       5591 non-null   int64
 9   Hình thức làm việc   5591 non-null   object
 10  Độ tuổi              2817 non-null   object
 11  Yêu cầu bằng cấp     4905 non-null   object
 12  Yêu cầu kinh nghiệm  5591 non-null   object
 13  Ngành nghề           5591 non-null   object
 14  Địa điểm làm việc    5581 non-null   object
 15  Mô tả công việc      5591 non-null   object
 16  Yêu cầu công việc    5590 non-null   object
 17  Quyền lợi            5590 non-null   object
 18  Từ khóa              5591 non-null   object
 19  Địa chỉ công ty      5591 non-null   object
 20  Quy mô công ty       5591 non-null   object
dtypes: int64(1), object(20)
memory usage: 917.4+ KB

**Giải thích ý nghĩa các cột trong raw data và khám phá kiểu dữ liệu cũng như định dạng của chúng:**
0. Liên kết : Liến đển đến trang tuyển dụng của trang web
1. Tên công ty: Tên công ty tuyển dụng
- Dự vào tên công ty ta thấy có 2 loại công ty là công ty cổ phần, công ty trách nhiệm hữu hạn.
2. Tên công việc : Tên công việc đang cần uyển dụng
3. Mức lương: Mức lương tuyển dụng theo định dạng như:  **'7 - 10 triệu'**
4. Khu vực tuyển dụng: Đó là một list các tỉnh thành được ngăn cách nhau bởi dấu ,
5. Thời gian thử việc
6. Cấp bậc: Cấp bậc của công việc đang tuyển dụng
7. Yêu cầu giới tính: Một số công việc chỉ ưu tiên nữa hoặc ưu tiên nam.
8. Số lượng tuyển: có kiểu **int64**
9.  Hình thức làm việc
10. Yêu cầu bằng cấp
11. Yêu cầu kinh nghiệm: '1 năm', '2 năm', ...
12. Ngành nghề: Là một list các ngành nghề được ngăn cách nhau bởi dấu / 'Bán hàng - Kinh doanh/Bất động sản/Bảo hiểm'
13. Điah điểm làm việc: Địa chỉ cụ thể của nơi làm việc
14. Mô tả công việc: Mô tả công việc đang tuyển dụng
15. Quyền lợi được hưởng: Quyền lợi được hưởng khi làm việc tại công ty
16. Từ khóa: Từ khóa của công việc đang tuyển dụng
17. Địa chỉ công ty: Địa chỉ công ty
18. Quy mô công ty: Quy mô công ty
 

= > Để tiếp tực khám phá dữ liệu ta cần phải loại bở những cột không cần thiết, xử lý những cột còn thiếu dữ liệu, những cột có dữ liệu nhiễu, những cột có dữ liệu không chuẩn.

- Vì có một số công việc được đăng tuyển dụng nhiều lần nhưng mỗi lần đăng thì giá trị cột liên kết sẽ khác nhau nên việc kiểm tra trùng lặp dữ liệu sẽ được nhóm thực hiện sau khi đã loại bỏ cột này

- Xem dữ liệu ban đầu có mất mát là bao nhiêu %

In [4]:
percentage_missing_data = pd.DataFrame(raw_data.isnull().sum().sort_values(ascending=False) / len(raw_data) * 100, columns=['% missing'])
percentage_missing_data

                     % missing
Yêu cầu giới tính    65.533894
Độ tuổi              49.615453
Thời gian thử việc   36.022179
Yêu cầu bằng cấp     12.269719
Địa điểm làm việc     0.178859
Quyền lợi             0.017886
Yêu cầu công việc     0.017886
Yêu cầu kinh nghiệm   0.000000
Địa chỉ công ty       0.000000
Từ khóa               0.000000
Mô tả công việc       0.000000
Ngành nghề            0.000000
Liên kết              0.000000
Tên công ty           0.000000
Hình thức làm việc    0.000000
Số lượng tuyển        0.000000
Cấp bậc               0.000000
Khu vực tuyển         0.000000
Mức lương             0.000000
Tên công việc         0.000000
Quy mô công ty        0.000000

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột Tên Công ty</b></font>

- Ở cột tên công Có 2 loại Công ty TNHH và công ty cổ phần. Nhóm sẽ thêm cột loại Công ty để phân biệt 2 loại công ty này.

In [5]:
cp_signal = [ 'cp', 'cổ phần']
tnhh_signal = ['tnhh','một thành viên', 'tư nhân', 'trách nhiệm hữu hạn' , 'hộ kinh doanh']
name_company = raw_data['Tên công ty'].str.lower()
# name_company
# Phân tích thành 2 loại công ty: TNHH và Cổ phần nếu bất kỳ chuyển nào so khớp với tên công ty
# Nếu khớp với một trong 2 loại thì gán cho cột Loại công ty. 1 Cho công ty tnhh, 2 cho công ty cổ phần và 0 nếu không khớp với bất kỳ giá trị nào 

conditions = [
    name_company.str.contains('|'.join(tnhh_signal), regex=True, na=False),
    name_company.str.contains('|'.join(cp_signal), regex=True, na=False)
]

# Tạo danh sách giá trị tương ứng cho mỗi điều kiện
values = ['Công ty trách nhiệm hữu hạn', 'Công ty cổ phần']

# Áp dụng hàm np.select để gán giá trị cho cột 'Loại công ty'
raw_data['Loại công ty'] = np.select(conditions, values, default=0)
print(raw_data['Loại công ty'].value_counts())
# Xóa những dòng không xác định được loại công ty
raw_data = raw_data[raw_data['Loại công ty'] != '0']
print(raw_data['Loại công ty'].value_counts())

Loại công ty
Công ty trách nhiệm hữu hạn    3235
Công ty cổ phần              2127
0                               229
Name: count, dtype: int64
Loại công ty
Công ty trách nhiệm hữu hạn    3235
Công ty cổ phần              2127
Name: count, dtype: int64

- Một số cột không có nhiều giá trị trong quá trình phân tích của nhóm, hoặc dữ liệu không theo quy chuẩn khó khai thác như: 'Liên kết', 'Mô tả công việc', 'Quyền lợi', 'Yêu cầu công việc', 'Từ khóa'. Sẽ được nhóm bỏ qua trong đồ án này.

In [6]:
raw_data.drop(['Liên kết','Tên công ty','Tên công việc', 'Mô tả công việc', 'Quyền lợi', 'Yêu cầu công việc', 'Từ khóa','Địa điểm làm việc', 'Địa chỉ công ty'], axis=1, inplace=True)
raw_data.sample(5)

,Mức lương,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,Độ tuổi,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Quy mô công ty,Loại công ty
1519,9 - 15 triệu,"Hà Nội, TP.HCM",2 tháng,Chuyên viên- nhân viên,Nam,3,Toàn thời gian cố định,22 - 30 tuổi,Trung học,1 năm,Bán hàng - Kinh doanh/Bán sỉ - Bán lẻ - Quản l...,Trên 300 người,Công ty trách nhiệm hữu hạn
3206,8 - 15 triệu,Đồng Tháp,2 tháng,Chuyên viên- nhân viên,NaN,5,Toàn thời gian cố định,18 - 30 tuổi,Trung học,Chưa có kinh nghiệm,Bán hàng - Kinh doanh/Tài chính - Đầu tư - Chứ...,Trên 300 người,Công ty trách nhiệm hữu hạn
5364,8 - 15 triệu,Bình Dương,NaN,Chuyên viên- nhân viên,NaN,2,Toàn thời gian cố định,NaN,Cao đẳng,Dưới 1 năm,Khoa học - Kỹ thuật/Cơ khí - Ô tô - Tự động hóa,10 - 150 người,Công ty trách nhiệm hữu hạn
3008,1 - 3 triệu,Hà Nội,NaN,Cộng tác viên,NaN,2,Thực tập,NaN,Đại học,Chưa có kinh nghiệm,Marketing,10 - 150 người,Công ty cổ phần
5130,15 - 20 triệu,Hà Nội,2 tháng,Chuyên viên- nhân viên,Nam,2,Toàn thời gian cố định,NaN,Đại học,3 năm,Điện - Điện tử - Điện lạnh/Xây dựng/Khoa học -...,10 - 150 người,Công ty cổ phần

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột Mức lương</b></font>

- Tiếp đến chúng ta cần xử lý cột lương để đưa cột này về một giá trị có kiểu dữ liệu np.float64 thay vì object. Vì các giá trị lương được định nghĩa là một khoảng 'a - b triệu' nhóm quyết định sẽ lấy lương là trung bình của khoảng này. Bên cạnh đó còn có một số công việc để mức lương này có giá trị là 'Thỏa thuận', vì số lượng này không nhiều nên nhóm quyết định sẽ loại bỏ các công việc này.

In [7]:
df = raw_data[raw_data['Mức lương'] == 'Thoả thuận ']
print(df.shape)
#Chỉ có 62 trường hợp như thế này 
#=> Xóa các trường hợp này đi
raw_data.drop(df.index, inplace=True)

(62, 13)

In [8]:
def process_salary(salary):
    try:
        a, b = salary.split(' - ')
        a = float(a)
        b = float(b.replace(' triệu', ''))
        return pd.Series([a, b, (a + b) / 2])
    except:
        # Lấy số trong lương
        salary = float(salary.replace(' triệu', ''))
        return pd.Series([salary, salary, salary])
raw_data[['Mức lương thấp nhất', 'Mức lương cao nhất', 'Mức lương trung bình']] = raw_data['Mức lương'].apply(process_salary)
raw_data.drop('Mức lương', axis=1, inplace=True)
raw_data.sample(5)

,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,Độ tuổi,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Quy mô công ty,Loại công ty,Mức lương thấp nhất,Mức lương cao nhất,Mức lương trung bình
2939,TP.HCM,2 tháng,Chuyên viên- nhân viên,NaN,2,Toàn thời gian cố định,NaN,Cao đẳng,1 năm,Marketing/Bán hàng - Kinh doanh/Truyền hình - ...,Trên 300 người,Công ty trách nhiệm hữu hạn,8.0,12.0,10.0
3908,TP.HCM,2 tháng,Chuyên viên- nhân viên,NaN,2,Toàn thời gian cố định,NaN,Cao đẳng,2 năm,Kế toán/Thu mua - Kho Vận - Chuỗi cung ứng,Dưới 10 người,Công ty trách nhiệm hữu hạn,10.0,12.0,11.0
193,Hà Nội,NaN,Chuyên viên- nhân viên,Nam,2,Toàn thời gian cố định,NaN,Cao đẳng,Dưới 1 năm,Vận Tải - Lái xe - Giao nhận/Hành chính - Thư ...,Dưới 10 người,Công ty trách nhiệm hữu hạn,8.0,10.0,9.0
1444,TP.HCM,1 tháng,Chuyên viên- nhân viên,NaN,10,Toàn thời gian cố định,NaN,Trung học,Chưa có kinh nghiệm,Bán hàng - Kinh doanh/Bán sỉ - Bán lẻ - Quản l...,150 - 300 người,Công ty trách nhiệm hữu hạn,7.0,10.0,8.5
4076,Hưng Yên,1 tháng,Chuyên viên- nhân viên,Nữ,1,Toàn thời gian cố định,NaN,Chứng chỉ,1 năm,Vận Tải - Lái xe - Giao nhận,Dưới 10 người,Công ty cổ phần,6.0,12.0,9.0

In [9]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5300 entries, 0 to 5590
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Khu vực tuyển         5300 non-null   object
 1   Thời gian thử việc    3380 non-null   object
 2   Cấp bậc               5300 non-null   object
 3   Yêu cầu giới tính     1850 non-null   object
 4   Số lượng tuyển        5300 non-null   int64
 5   Hình thức làm việc    5300 non-null   object
 6   Độ tuổi               2678 non-null   object
 7   Yêu cầu bằng cấp      4643 non-null   object
 8   Yêu cầu kinh nghiệm   5300 non-null   object
 9   Ngành nghề            5300 non-null   object
 10  Quy mô công ty        5300 non-null   object
 11  Loại công ty          5300 non-null   object
 12  Mức lương thấp nhất   5300 non-null   float64
 13  Mức lương cao nhất    5300 non-null   float64
 14  Mức lương trung bình  5300 non-null   float64
dtypes: float64(3), int64(1), object(11)
memory usage: 662.5+ KB

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột Thời gian thử việc </b></font>

In [10]:
print(raw_data['Thời gian thử việc'].info())
print(raw_data['Thời gian thử việc'].value_counts())

<class 'pandas.core.series.Series'>
Index: 5300 entries, 0 to 5590
Series name: Thời gian thử việc
Non-Null Count  Dtype
--------------  -----
3380 non-null   object
dtypes: object(1)
memory usage: 82.8+ KB
None
Thời gian thử việc
2 tháng                         2504
1 tháng                          616
02 tháng                         102
3 tháng                           62
01 tháng                          37
1.5 tháng                         12
2  tháng                           9
0.5 tháng                          8
1  tháng                           6
1-2 tháng                          4
1 tháng tháng                      4
2 tháng tháng                      4
6 tháng                            3
03 tháng                           2
1.2 tháng                          1
2 tháng  tháng                     1
0.1 tháng                          1
Trao đổi khi phỏng vấn tháng       1
2 thang tháng                      1
1 Tháng tháng                      1
2 THÁNG tháng                      1
Name: count, dtype: int64

In [11]:
# Có 1 trường họp Trao đổi khi phỏng vấn tháng và một trường hợp là '1-2 tháng' Chúng em xem trường hợp Trao đổi khi phỏng vấn tháng như là một giá trị missing và 
# chuyển trường hợp '1-2 tháng' thành 1.5 tháng
raw_data['Thời gian thử việc'].replace('Trao đổi khi phỏng vấn tháng', np.nan, inplace=True)
raw_data['Thời gian thử việc'].replace('1-2 tháng', '1.5 tháng', inplace=True)
print(raw_data['Thời gian thử việc'].value_counts())

Thời gian thử việc
2 tháng           2504
1 tháng            616
02 tháng           102
3 tháng             62
01 tháng            37
1.5 tháng           16
2  tháng             9
0.5 tháng            8
1  tháng             6
1 tháng tháng        4
2 tháng tháng        4
6 tháng              3
03 tháng             2
1.2 tháng            1
2 tháng  tháng       1
0.1 tháng            1
2 thang tháng        1
1 Tháng tháng        1
2 THÁNG tháng        1
Name: count, dtype: int64

In [12]:
# Lấy phần số trong chuỗi
def get_number(string):
    try:
        return float(string.split(' ')[0])
    except:
        return np.nan
raw_data['Thời gian thử việc'] = raw_data['Thời gian thử việc'].apply(get_number)
print(raw_data['Thời gian thử việc'].info())
print(raw_data['Thời gian thử việc'].value_counts())

<class 'pandas.core.series.Series'>
Index: 5300 entries, 0 to 5590
Series name: Thời gian thử việc
Non-Null Count  Dtype
--------------  -----
3379 non-null   float64
dtypes: float64(1)
memory usage: 82.8 KB
None
Thời gian thử việc
2.0    2622
1.0     664
3.0      64
1.5      16
0.5       8
6.0       3
1.2       1
0.1       1
Name: count, dtype: int64

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b> Xử lý cột Yêu cầu giới tính</b></font>

In [13]:
raw_data['Yêu cầu giới tính'].info()

<class 'pandas.core.series.Series'>
Index: 5300 entries, 0 to 5590
Series name: Yêu cầu giới tính
Non-Null Count  Dtype
--------------  -----
1850 non-null   object
dtypes: object(1)
memory usage: 82.8+ KB

In [14]:
raw_data['Yêu cầu giới tính'].value_counts()

Yêu cầu giới tính
Nam    1139
Nữ      711
Name: count, dtype: int64

In [15]:
# Thay thế nhưng cột không có thông  thành Không yêu cầu
raw_data['Yêu cầu giới tính'].fillna('Không yêu cầu', inplace=True)
raw_data['Yêu cầu giới tính'].value_counts()

Yêu cầu giới tính
Không yêu cầu    3450
Nam              1139
Nữ                711
Name: count, dtype: int64

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột dữ liệu Yêu cầu bằng cấp</b></font>

- Có thể thấy dữ liệu khá đầy đủ chỉ riêng cột 'Yêu cầu bằng cấp' có thiếu dữ liệu. Vậy chúng ta sẽ xử lí cột này.

In [16]:
print(raw_data['Yêu cầu bằng cấp'].info())
print(raw_data['Yêu cầu bằng cấp'].value_counts())

<class 'pandas.core.series.Series'>
Index: 5300 entries, 0 to 5590
Series name: Yêu cầu bằng cấp
Non-Null Count  Dtype
--------------  -----
4643 non-null   object
dtypes: object(1)
memory usage: 82.8+ KB
None
Yêu cầu bằng cấp
Cao đẳng        1862
Đại học         1079
Trung cấp        999
Trung học        631
Chứng chỉ         67
Trên đại học       5
Name: count, dtype: int64

- Đây là một tiêu chí khá quan trọng khi tuyển hoặc tìm việc làm vì vậy khi trường này trống thì có thể hiểu được trong trường hợp này sẽ do phần lớn công việc không có yêu cầu về bằng cấp. Vậy ta sẽ điền 'Không' vào các vị trí bị thiếu dữ liệu.

In [17]:
raw_data['Yêu cầu bằng cấp'].replace(np.nan, 'Không', inplace=True)
print(raw_data['Yêu cầu bằng cấp'].info())
print(raw_data['Yêu cầu bằng cấp'].value_counts())

<class 'pandas.core.series.Series'>
Index: 5300 entries, 0 to 5590
Series name: Yêu cầu bằng cấp
Non-Null Count  Dtype
--------------  -----
5300 non-null   object
dtypes: object(1)
memory usage: 82.8+ KB
None
Yêu cầu bằng cấp
Cao đẳng        1862
Đại học         1079
Trung cấp        999
Không            657
Trung học        631
Chứng chỉ         67
Trên đại học       5
Name: count, dtype: int64

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột dữ liệu Đô tuổi</b></font>

In [18]:
print(raw_data['Độ tuổi'].info())
print(raw_data['Độ tuổi'].value_counts())

<class 'pandas.core.series.Series'>
Index: 5300 entries, 0 to 5590
Series name: Độ tuổi
Non-Null Count  Dtype
--------------  -----
2678 non-null   object
dtypes: object(1)
memory usage: 82.8+ KB
None
Độ tuổi
22 - 35 tuổi    165
25 - 35 tuổi    164
18 - 30 tuổi    129
25 - 40 tuổi    118
18 - 35 tuổi    114
               ...
19 - 38 tuổi      1
24 - 48 tuổi      1
22 - 39 tuổi      1
18 - 53 tuổi      1
40 - 50 tuổi      1
Name: count, Length: 230, dtype: int64

- Ở cột đổ tuổi thì có format như ở mức lương nên nhóm em quyết định chia ra thành: Tuổi thấp nhất và Tuổi cao nhất và Tuổi trung bình. Những giá trị còn thiếu thì là np.nan

In [19]:
# format '18 - 35 tuổi' thành 2 cột là tuổi cao nhất và tuổi thấp nhất, Tuổi trung bình
def process_age(age):
    try:
        a, b = age.split(' - ')
        a = int(a)
        b = int(b.replace(' tuổi', ''))
        return pd.Series([a, b, (a + b) / 2])
    except:
        return pd.Series([np.nan, np.nan, np.nan])
raw_data[['Tuổi thấp nhất', 'Tuổi cao nhất', 'Tuổi trung bình']] = raw_data['Độ tuổi'].apply(process_age)
raw_data.drop('Độ tuổi', axis=1, inplace=True)
raw_data.sample(5)

,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Quy mô công ty,Loại công ty,Mức lương thấp nhất,Mức lương cao nhất,Mức lương trung bình,Tuổi thấp nhất,Tuổi cao nhất,Tuổi trung bình
2103,Đà Nẵng,2.0,Chuyên viên- nhân viên,Nam,3,Toàn thời gian cố định,Không,Chưa có kinh nghiệm,Khoa học - Kỹ thuật/Điện - Điện tử - Điện lạnh...,Dưới 10 người,Công ty trách nhiệm hữu hạn,4.5,7.0,5.75,18.0,30.0,24.0
1415,TP.HCM,NaN,Chuyên viên- nhân viên,Không yêu cầu,3,Toàn thời gian cố định,Cao đẳng,1 năm,Bán hàng - Kinh doanh/Bán sỉ - Bán lẻ - Quản l...,150 - 300 người,Công ty trách nhiệm hữu hạn,8.0,15.0,11.50,NaN,NaN,NaN
2919,Bắc Ninh,2.0,Chuyên viên- nhân viên,Nữ,2,Toàn thời gian cố định,Cao đẳng,1 năm,Marketing,10 - 150 người,Công ty trách nhiệm hữu hạn,6.0,10.0,8.00,22.0,30.0,26.0
285,TP.HCM,2.0,Chuyên viên- nhân viên,Không yêu cầu,5,Toàn thời gian cố định,Cao đẳng,2 năm,Hành chính - Thư ký/Kế toán/Bán hàng - Kinh doanh,10 - 150 người,Công ty cổ phần,8.0,11.0,9.50,NaN,NaN,NaN
2172,TP.HCM,NaN,Cộng tác viên,Không yêu cầu,2,Toàn thời gian tạm thời,Cao đẳng,Chưa có kinh nghiệm,IT Phần mềm/Vận Tải - Lái xe - Giao nhận/Thu m...,150 - 300 người,Công ty cổ phần,1.5,2.0,1.75,NaN,NaN,NaN

## Nhóm đã duyệt qua tất cả dữ liệu và xử lý các cột dữ liệu thiếu, nhiễu, không chuẩn. Tiếp theo chúng ta sẽ kiểm tra dữ liệu

- Kiểm tra trùng lặp dữ liệu

In [20]:
is_duplicate = raw_data.duplicated().any()
if is_duplicate:
    print("Có sự trùng lặp dữ liệu")
else:
    print("Không có sự trùng lặp dữ liệu")

Có sự trùng lặp dữ liệu

- Có sự trùng lặp trong bộ dữ liệu nên chúng ta sẽ phải xử lí

In [21]:
#remove duplicate
raw_data.drop_duplicates(inplace=True)
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5090 entries, 0 to 5590
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Khu vực tuyển         5090 non-null   object
 1   Thời gian thử việc    3225 non-null   float64
 2   Cấp bậc               5090 non-null   object
 3   Yêu cầu giới tính     5090 non-null   object
 4   Số lượng tuyển        5090 non-null   int64
 5   Hình thức làm việc    5090 non-null   object
 6   Yêu cầu bằng cấp      5090 non-null   object
 7   Yêu cầu kinh nghiệm   5090 non-null   object
 8   Ngành nghề            5090 non-null   object
 9   Quy mô công ty        5090 non-null   object
 10  Loại công ty          5090 non-null   object
 11  Mức lương thấp nhất   5090 non-null   float64
 12  Mức lương cao nhất    5090 non-null   float64
 13  Mức lương trung bình  5090 non-null   float64
 14  Tuổi thấp nhất        2586 non-null   float64
 15  Tuổi cao nhất         2586 non-null   float64
 16  Tuổi trung bình       2586 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 715.8+ KB

# Kiểm tra lại dữ liệu sau khi đã xử lí

- Xác định Phần trăm dữ liệu bị thiếu

In [22]:
# Phần trăm dữ liệu bị thiếu và sắp xếp giảm dần
percentage_missing_data = pd.DataFrame(raw_data.isnull().sum().sort_values(ascending=False) / len(raw_data) * 100, columns=['% missing'])
percentage_missing_data

                      % missing
Tuổi trung bình       49.194499
Tuổi cao nhất         49.194499
Tuổi thấp nhất        49.194499
Thời gian thử việc    36.640472
Quy mô công ty         0.000000
Mức lương trung bình   0.000000
Mức lương cao nhất     0.000000
Mức lương thấp nhất    0.000000
Loại công ty           0.000000
Khu vực tuyển          0.000000
Yêu cầu kinh nghiệm    0.000000
Yêu cầu bằng cấp       0.000000
Hình thức làm việc     0.000000
Số lượng tuyển         0.000000
Yêu cầu giới tính      0.000000
Cấp bậc                0.000000
Ngành nghề             0.000000

- Dự liệu tuổi và thời gian thử việc có rất nhiều missing do đó nhóm em quyết định dùng thuật toán KNN để điền khuyết dữ liệu

In [23]:

# Đảm bảo không có nhãn nào bị missing
mutil_label_features = ['Khu vực tuyển', 'Ngành nghề']
single_label_features = [ 'Cấp bậc', 'Số lượng tuyển','Hình thức làm việc','Yêu cầu bằng cấp', 
                'Yêu cầu kinh nghiệm', 'Quy mô công ty', 'Loại công ty']
targets = ['Thời gian thử việc', 'Tuổi thấp nhất', 'Tuổi cao nhất']

# Chuẩn bị dữ liệu
df_knn = raw_data[single_label_features].copy()
# Chức năng để tách dữ liệu
def split_labels(column, separator):
    return [[label.strip() for label in labels.split(separator)] for labels in column]

# Tách 'Khu vực tuyển'
khu_vuc_labels = split_labels(raw_data['Khu vực tuyển'], ', ')

# Tách 'Ngành nghề'
nganh_nghe_labels = split_labels(raw_data['Ngành nghề'], '/')

# Khởi tạo và áp dụng MultiLabelBinarizer
mlb_khu_vuc = MultiLabelBinarizer()
mlb_nganh_nghe = MultiLabelBinarizer()

khu_vuc_binarized = mlb_khu_vuc.fit_transform(khu_vuc_labels)
nganh_nghe_binarized = mlb_nganh_nghe.fit_transform(nganh_nghe_labels)

# Tạo DataFrame mới từ kết quả nhị phân
khu_vuc_df = pd.DataFrame(khu_vuc_binarized, columns=mlb_khu_vuc.classes_)
nganh_nghe_df = pd.DataFrame(nganh_nghe_binarized, columns=mlb_nganh_nghe.classes_)

# Đặt lại chỉ mục cho các DataFrame
df_knn.reset_index(drop=True, inplace=True)
khu_vuc_df.reset_index(drop=True, inplace=True)
nganh_nghe_df.reset_index(drop=True, inplace=True)

df_knn = pd.concat([df_knn, khu_vuc_df, nganh_nghe_df], axis=1)

# Mã hóa nhãn cho các cột chọn lựa
for col in single_label_features:
    le = LabelEncoder()
    df_knn[col] = le.fit_transform(df_knn[col])
    
print(df_knn.shape)
# Kiểm tra xem có giá trị Nan nào không và nằn ở những cột nào
assert df_knn.isnull().any().any() == False

(5090, 124)

In [24]:
print("Trước khi điền:", raw_data[targets].isnull().sum())

Trước khi điền: Thời gian thử việc    1865
Tuổi thấp nhất        2504
Tuổi cao nhất         2504
dtype: int64

In [25]:

# Tạo DataFrame chứa cả đặc trưng và mục tiêu
df_full = pd.concat([df_knn, raw_data[targets]], axis=1)

# Áp dụng KNNImputer
imputer = KNNImputer(n_neighbors=5)
df_imputed = imputer.fit_transform(df_full)
df_imputed = pd.DataFrame(df_imputed, columns=df_full.columns)
# Điền vào dữ liệu gốc
for target in targets:
    if target == 'Thời gian thử việc':
        # Làm tròn giống như những giá trị khác thu thập được 
        raw_data[target] = df_imputed[target].round(1)
    else:
        # Làm tròn thành số nguyên
        raw_data[target] = df_imputed[target].round(0).astype(int)

# Kiểm tra DataFrame sau khi điền dữ liệu còn giá trị missing không
print("Sau khi điền:", raw_data[targets].isnull().sum())

Sau khi điền: Thời gian thử việc    26
Tuổi thấp nhất        26
Tuổi cao nhất         26
dtype: int64

In [26]:
# Tính tuổi trung bình cho cột còn lại
raw_data['Tuổi trung bình'] = (raw_data['Tuổi thấp nhất'] + raw_data['Tuổi cao nhất']) / 2
# Như vậy vẫn còn 26 dòng không thể điền dữ liệu, vì thế ta sẽ xóa những dòng này đi
raw_data.dropna(inplace=True)
raw_data

,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Quy mô công ty,Loại công ty,Mức lương thấp nhất,Mức lương cao nhất,Mức lương trung bình,Tuổi thấp nhất,Tuổi cao nhất,Tuổi trung bình
0,Hà Nội,2.0,Chuyên viên- nhân viên,Không yêu cầu,20,Toàn thời gian cố định,Trung cấp,Chưa có kinh nghiệm,Hành chính - Thư ký/Chăm sóc khách hàng/Ngân hàng,Trên 300 người,Công ty cổ phần,7.0,10.0,8.50,23.0,38.0,30.5
1,TP.HCM,1.0,Chuyên viên- nhân viên,Nữ,1,Toàn thời gian cố định,Đại học,2 năm,Xuất Nhập Khẩu/Hành chính - Thư ký/Thu mua - K...,10 - 150 người,Công ty trách nhiệm hữu hạn,10.0,15.0,12.50,22.0,40.0,31.0
2,Hà Nội,1.0,Chuyên viên- nhân viên,Không yêu cầu,6,Toàn thời gian cố định,Không,Dưới 1 năm,Bán hàng - Kinh doanh/Hành chính - Thư ký/Điện...,10 - 150 người,Công ty cổ phần,10.0,30.0,20.00,22.0,38.0,30.0
3,Tây Ninh,2.0,Chuyên viên- nhân viên,Nữ,2,Toàn thời gian cố định,Đại học,Chưa có kinh nghiệm,Kế toán/Hành chính - Thư ký/Sản xuất - Lắp ráp...,10 - 150 người,Công ty trách nhiệm hữu hạn,10.0,15.0,12.50,22.0,30.0,26.0
4,Bà Rịa - Vũng Tàu,2.0,Chuyên viên- nhân viên,Không yêu cầu,1,Toàn thời gian cố định,Đại học,2 năm,Tài chính - Đầu tư - Chứng Khoán/Kế toán/Hành ...,Trên 300 người,Công ty cổ phần,10.0,20.0,15.00,22.0,35.0,28.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5557,Bình Dương,1.8,Quản lý cấp cao,Nam,1,Toàn thời gian cố định,Đại học,Hơn 5 năm,Cơ khí - Ô tô - Tự động hóa,10 - 150 người,Công ty trách nhiệm hữu hạn,35.0,40.0,37.50,22.0,36.0,29.0
5558,Bình Dương,1.0,Chuyên viên- nhân viên,Nam,2,Toàn thời gian cố định,Trung học,1 năm,Cơ khí - Ô tô - Tự động hóa,150 - 300 người,Công ty cổ phần,8.0,10.0,9.00,20.0,25.0,22.5
5559,Gia Lai,1.8,Chuyên viên- nhân viên,Không yêu cầu,10,Toàn thời gian cố định,Không,Chưa có kinh nghiệm,Bán hàng - Kinh doanh/Cơ khí - Ô tô - Tự động hóa,10 - 150 người,Công ty trách nhiệm hữu hạn,4.5,20.0,12.25,18.0,25.0,21.5
5560,TP.HCM,1.8,Chuyên viên- nhân viên,Không yêu cầu,1,Toàn thời gian cố định,Cao đẳng,1 năm,Bán hàng - Kinh doanh/Cơ khí - Ô tô - Tự động hóa,10 - 150 người,Công ty trách nhiệm hữu hạn,15.0,25.0,20.00,22.0,36.0,29.0
5561,TP.HCM,1.8,Chuyên viên- nhân viên,Nam,2,Toàn thời gian cố định,Không,Chưa có kinh nghiệm,Cơ khí - Ô tô - Tự động hóa/Lao động phổ thông,Dưới 10 người,Công ty trách nhiệm hữu hạn,8.0,9.0,8.50,18.0,25.0,21.5

In [27]:
raw_data[targets].describe()

       Thời gian thử việc  Tuổi thấp nhất  Tuổi cao nhất
count         5064.000000     5064.000000    5064.000000
mean             1.809755       22.614929      36.253555
std              0.383956        2.725550       5.287217
min              0.100000       15.000000      19.000000
25%              1.800000       21.000000      34.000000
50%              2.000000       22.000000      35.000000
75%              2.000000       24.000000      40.000000
max              6.000000       44.000000      60.000000

In [28]:
# Tên các cột dữ liệu
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5064 entries, 0 to 5561
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Khu vực tuyển         5064 non-null   object
 1   Thời gian thử việc    5064 non-null   float64
 2   Cấp bậc               5064 non-null   object
 3   Yêu cầu giới tính     5064 non-null   object
 4   Số lượng tuyển        5064 non-null   int64
 5   Hình thức làm việc    5064 non-null   object
 6   Yêu cầu bằng cấp      5064 non-null   object
 7   Yêu cầu kinh nghiệm   5064 non-null   object
 8   Ngành nghề            5064 non-null   object
 9   Quy mô công ty        5064 non-null   object
 10  Loại công ty          5064 non-null   object
 11  Mức lương thấp nhất   5064 non-null   float64
 12  Mức lương cao nhất    5064 non-null   float64
 13  Mức lương trung bình  5064 non-null   float64
 14  Tuổi thấp nhất        5064 non-null   float64
 15  Tuổi cao nhất         5064 non-null   float64
 16  Tuổi trung bình       5064 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 712.1+ KB

In [29]:
# Lưu các giá tri vào file cleaned_dataset.csv
raw_data.to_csv('../data/cleaned_dataset.csv', index=False)