# Tổng quan phần tiền xử lý và khám phá dữ liệu

- Xử lí thiếu dữ liệu

- Xử lí nhiễu

- Chuẩn hóa dữ liệu

- Đưa ra những cái nhìn đầu tiên về dữ liệu

## 1. Import libraries

In [22]:
#import các thư viện cần thiết
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 2. Data pre-precessing and exploration

- Đọc dữ liệu từ data/raw_dataset.csv

In [23]:
raw_data = pd.read_csv('../data/raw_dataset.csv')
raw_data.sample(5)

,Liên kết,Tên công ty,Tên công việc,Mức lương,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,...,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Địa điểm làm việc,Mô tả công việc,Yêu cầu công việc,Quyền lợi,Từ khóa,Địa chỉ công ty,Quy mô công ty
903,https://vieclam24h.vn/ban-hang-kinh-doanh/yen-...,Công ty Tài Chính TNHH HD SAISON,[Yên Thế - Bắc Giang] Nhân Viên Tư Vấn Trả Góp,8 - 15 triệu,Bắc Giang,2 tháng,Chuyên viên- nhân viên,NaN,5,Toàn thời gian cố định,...,Trung học,Chưa có kinh nghiệm,Bán hàng - Kinh doanh/Tài chính - Đầu tư - Chứ...,"Bắc Giang, Yên Thế",- Khi trở thành Nhân viên Điểm giới thiệu dịch...,- Bạn chỉ cần tốt nghiệp trình độ từ THPT trở ...,"- Làm việc trong một môi trường chuyên nghiệp,...",quận bình thạnh thành phố hồ chí minhthành phố...,"Tòa nhà Gilimex, 24C Phan Đăng Lưu, phường 6, ...",Trên 300 người
369,https://vieclam24h.vn/xay-dung/ky-su-xay-dung-...,Công Ty TNHH Đầu Tư Xây Dựng Hoàng Nguyên Group,"Kỹ Sư Xây Dựng Giao Thông, Cầu Đường (Đi Làm N...",9 - 17 triệu,TP.HCM,NaN,Chuyên viên- nhân viên,Nam,3,Toàn thời gian cố định,...,Cao đẳng,Chưa có kinh nghiệm,Xây dựng,"TP.HCM, 154 Đào Duy Anh, Phường 9, Phú Nhuận",1. Kỹ sư hiện trường (2 vị trí):- Điều phối Nh...,"- Tốt nghiệp cao đẳng, đại học ngành cầu đường...",- Lương thỏa thuận khi phỏng vấn: 09-16 triệu ...,xây dựnglàm ngayquận phú nhuậnViệc làm TP.HCMX...,"154 Đào Duy Anh, P9, Q Phú Nhuận, Tp HCM",10 - 150 người
35,https://vieclam24h.vn/ke-toan/nhan-vien-ke-toa...,Công Ty TNHH Yantai Moon (Việt Nam),Nhân Viên Kế Toán Nguồn Vốn / Thủ Quỹ,10 - 15 triệu,Tây Ninh,2 tháng,Chuyên viên- nhân viên,Nữ,2,Toàn thời gian cố định,...,Đại học,Chưa có kinh nghiệm,Kế toán/Hành chính - Thư ký/Sản xuất - Lắp ráp...,"Tây Ninh, Lô 55, KCX-CN Linh Trung 3, An Tịnh,...",Chịu trách nhiệm quản lý thu chi tiền mặt mỗi ...,Tốt nghiệp Đại học chuyên ngành kế toán (ưu ti...,Thu nhập từ 10-15 triệuCác chế độ phúc lợi khá...,Việc làm Tây NinhKế toánCông Ty TNHH Yantai Mo...,"Lô 55, KCX-CN Linh TRung 3, An Tịnh, Trảng Bàn...",10 - 150 người
56,https://vieclam24h.vn/ban-hang-kinh-doanh/nhan...,Công Ty Tnhh Chợ Tốt,Nhân Viên Telesales (Việc Làm Tốt),7 - 15 triệu,TP.HCM,2 tháng,Chuyên viên- nhân viên,NaN,5,Toàn thời gian cố định,...,Cao đẳng,1 năm,Bán hàng - Kinh doanh/Nhân sự/Chăm sóc khách hàng,"TP.HCM, Tầng 18, UOA Tower, 06 Tân Trào, Tân P...",Việc Làm Tốt – Chuyên trang tuyển dụng & tìm v...,Ít nhất 6 tháng kinh nghiệm bán hàng/ tư vấn/ ...,Thu nhập hấp dẫn: Lương cứng + thưởng hoa hồng...,Việc làm TP.HCMBán hàng - Kinh doanhCông Ty Tn...,"UOA Tower, Số 6 Tân Trào, Phường Tân Phú, Quận 7",150 - 300 người
614,https://vieclam24h.vn/ban-si-ban-le-quan-ly-cu...,Vietnam Bespoke,Nhân Viên Bán Hàng (Âu Phục Nam),7 - 12 triệu,TP.HCM,2 tháng,Chuyên viên- nhân viên,NaN,5,Toàn thời gian cố định,...,Cao đẳng,1 năm,Bán sỉ - Bán lẻ - Quản lý cửa hàng/Bán hàng - ...,"TP.HCM, 133 Lê Thị Riêng, P. Bến Thành, Quận 1",- Chịu trách nhiệm các hoạt động bán hàng tại ...,"- Tốt nghiệp cao đẳng trở lên- Ngoại hình khá,...",- Lương cứng theo năng lực (từ 7-9tr)- Thử việ...,Việc làm TP.HCMBán sỉ - Bán lẻ - Quản lý cửa h...,"133 Lê Thị Riêng, P. Bến Thành, Quận 1, TP. HCM",10 - 150 người

## Đầu tiên chúng ta cần một cái nhìn tổng quan về dữ liệu này

In [24]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1877 entries, 0 to 1876
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Liên kết             1877 non-null   object
 1   Tên công ty          1877 non-null   object
 2   Tên công việc        1877 non-null   object
 3   Mức lương            1877 non-null   object
 4   Khu vực tuyển        1877 non-null   object
 5   Thời gian thử việc   993 non-null    object
 6   Cấp bậc              1877 non-null   object
 7   Yêu cầu giới tính    516 non-null    object
 8   Số lượng tuyển       1877 non-null   int64
 9   Hình thức làm việc   1877 non-null   object
 10  Độ tuổi              812 non-null    object
 11  Yêu cầu bằng cấp     1639 non-null   object
 12  Yêu cầu kinh nghiệm  1877 non-null   object
 13  Ngành nghề           1877 non-null   object
 14  Địa điểm làm việc    1876 non-null   object
 15  Mô tả công việc      1877 non-null   object
 16  Yêu cầu công việc    1877 non-null   object
 17  Quyền lợi            1877 non-null   object
 18  Từ khóa              1877 non-null   object
 19  Địa chỉ công ty      1877 non-null   object
 20  Quy mô công ty       1877 non-null   object
dtypes: int64(1), object(20)
memory usage: 308.1+ KB

**Giải thích ý nghĩa các cột trong raw data và khám phá kiểu dữ liệu cũng như định dạng của chúng:**
0. Liên kết : Liến đển đến trang tuyển dụng của trang web
1. Tên công ty: Tên công ty tuyển dụng
- Dự vào tên công ty ta thấy có 2 loại công ty là công ty cổ phần, công ty trách nhiệm hữu hạn.
2. Tên công việc : Tên công việc đang cần uyển dụng
3. Mức lương: Mức lương tuyển dụng theo định dạng như:  **'7 - 10 triệu'**
4. Khu vực tuyển dụng: Đó là một list các tỉnh thành được ngăn cách nhau bởi dấu ,
5. Thời gian thử việc
6. Cấp bậc: Cấp bậc của công việc đang tuyển dụng
7. Yêu cầu giới tính: Một số công việc chỉ ưu tiên nữa hoặc ưu tiên nam.
8. Số lượng tuyển: có kiểu **int64**
9.  Hình thức làm việc
10. Yêu cầu bằng cấp
11. Yêu cầu kinh nghiệm: '1 năm', '2 năm', ...
12. Ngành nghề: Là một list các ngành nghề được ngăn cách nhau bởi dấu / 'Bán hàng - Kinh doanh/Bất động sản/Bảo hiểm'
13. Điah điểm làm việc: Địa chỉ cụ thể của nơi làm việc
14. Mô tả công việc: Mô tả công việc đang tuyển dụng
15. Quyền lợi được hưởng: Quyền lợi được hưởng khi làm việc tại công ty
16. Từ khóa: Từ khóa của công việc đang tuyển dụng
17. Địa chỉ công ty: Địa chỉ công ty
18. Quy mô công ty: Quy mô công ty
 

= > Để tiếp tực khám phá dữ liệu ta cần phải loại bở những cột không cần thiết, xử lý những cột còn thiếu dữ liệu, những cột có dữ liệu nhiễu, những cột có dữ liệu không chuẩn.

- Vì có một số công việc được đăng tuyển dụng nhiều lần nhưng mỗi lần đăng thì giá trị cột liên kết sẽ khác nhau nên việc kiểm tra trùng lặp dữ liệu sẽ được nhóm thực hiện sau khi đã loại bỏ cột này

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột Tên Công ty</b></font>

- Ở cột tên công Có 2 loại Công ty TNHH và công ty cổ phần. Nhóm sẽ thêm cột loại Công ty để phân biệt 2 loại công ty này.

In [25]:
cp_signal = [ 'cp', 'cổ phần']
tnhh_signal = ['tnhh','một thành viên', 'tư nhân', 'trách nhiệm hữu hạn' , 'hộ kinh doanh']
name_company = raw_data['Tên công ty'].str.lower()
# name_company
# Phân tích thành 2 loại công ty: TNHH và Cổ phần nếu bất kỳ chuyển nào so khớp với tên công ty
# Nếu khớp với một trong 2 loại thì gán cho cột Loại công ty. 1 Cho công ty tnhh, 2 cho công ty cổ phần và 0 nếu không khớp với bất kỳ giá trị nào 

conditions = [
    name_company.str.contains('|'.join(tnhh_signal), regex=True, na=False),
    name_company.str.contains('|'.join(cp_signal), regex=True, na=False)
]

# Tạo danh sách giá trị tương ứng cho mỗi điều kiện
values = [1, 2]

# Áp dụng hàm np.select để gán giá trị cho cột 'Loại công ty'
raw_data['Loại công ty'] = np.select(conditions, values, default=0)
print(raw_data['Loại công ty'].value_counts())
# Xóa những dòng không xác định được loại công ty
raw_data = raw_data[raw_data['Loại công ty'] != 0]

Loại công ty
1    1251
2     550
0      76
Name: count, dtype: int64

- Một số cột không có nhiều giá trị trong quá trình phân tích của nhóm, hoặc dữ liệu không theo quy chuẩn khó khai thác như: 'Liên kết', 'Mô tả công việc', 'Quyền lợi', 'Yêu cầu công việc', 'Từ khóa'. Sẽ được nhóm bỏ qua trong đồ án này.

In [26]:
raw_data.drop(['Liên kết','Tên công ty','Tên công việc', 'Mô tả công việc', 'Quyền lợi', 'Yêu cầu công việc', 'Từ khóa','Địa điểm làm việc', 'Địa chỉ công ty'], axis=1, inplace=True)
raw_data.sample(5)

,Mức lương,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,Độ tuổi,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Quy mô công ty,Loại công ty
949,10 - 14 triệu,TP.HCM,2 tháng,Chuyên viên- nhân viên,NaN,1,Toàn thời gian cố định,24 - 33 tuổi,Cao đẳng,2 năm,Marketing/Bán hàng - Kinh doanh/Thu mua - Kho ...,10 - 150 người,2
1599,9 - 15 triệu,Hà Nội,NaN,Chuyên viên- nhân viên,NaN,5,Bán thời gian cố định,NaN,Trung cấp,Chưa có kinh nghiệm,Bán hàng - Kinh doanh/Chăm sóc khách hàng/Bán ...,150 - 300 người,1
970,8 - 10 triệu,Hà Nội,2 tháng,Chuyên viên- nhân viên,NaN,1,Toàn thời gian cố định,25 - 30 tuổi,Đại học,1 năm,Tài chính - Đầu tư - Chứng Khoán/Ngân hàng,Trên 300 người,1
1695,2 - 3 triệu,TP.HCM,NaN,Cộng tác viên,NaN,5,Bán thời gian cố định,NaN,NaN,Chưa có kinh nghiệm,Hành chính - Thư ký,150 - 300 người,2
1874,0.5 - 1.5 triệu,Hà Nội,1 tháng,Chuyên viên- nhân viên,NaN,5,Thực tập,NaN,NaN,Chưa có kinh nghiệm,Kiểm toán/Xây dựng/Thực tập sinh,10 - 150 người,1

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột Mức lương</b></font>

- Tiếp đến chúng ta cần xử lý cột lương để đưa cột này về một giá trị có kiểu dữ liệu np.float64 thay vì object. Vì các giá trị lương được định nghĩa là một khoảng 'a - b triệu' nhóm quyết định sẽ lấy lương là trung bình của khoảng này. Bên cạnh đó còn có một số công việc để mức lương này có giá trị là 'Thỏa thuận', vì số lượng này không nhiều nên nhóm quyết định sẽ loại bỏ các công việc này.

In [27]:
df = raw_data[raw_data['Mức lương'] == 'Thoả thuận ']
df.shape
#Chỉ có 15 trường hợp như thế này 
#=> Xóa các trường hợp này đi
raw_data.drop(df.index, inplace=True)

In [28]:
def process_salary(salary):
    try:
        a, b = salary.split(' - ')
        a = float(a)
        b = float(b.replace(' triệu', ''))
        return pd.Series([a, b, (a + b) / 2])
    except:
        # Lấy số trong lương
        salary = float(salary.replace(' triệu', ''))
        return pd.Series([salary, salary, salary])
raw_data[['Mức lương thấp nhất', 'Mức lương cao nhất', 'Mức lương trung bình']] = raw_data['Mức lương'].apply(process_salary)
raw_data.drop('Mức lương', axis=1, inplace=True)
raw_data.sample(5)

,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,Độ tuổi,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Quy mô công ty,Loại công ty,Mức lương thấp nhất,Mức lương cao nhất,Mức lương trung bình
1440,TP.HCM,1 tháng,Chuyên viên- nhân viên,NaN,3,Toàn thời gian cố định,25 - 40 tuổi,Trung cấp,1 năm,Bán hàng - Kinh doanh/Chăm sóc khách hàng/Bán ...,10 - 150 người,2,7.0,25.0,16.0
667,TP.HCM,NaN,Chuyên viên- nhân viên,NaN,1,Toàn thời gian cố định,NaN,Cao đẳng,1 năm,Marketing/Thiết kế - Sáng tạo nghệ thuật/Thông...,10 - 150 người,1,12.0,15.0,13.5
1245,"TP.HCM, Long An",NaN,Chuyên viên- nhân viên,Nam,3,Toàn thời gian cố định,NaN,Đại học,1 năm,Xây dựng/Quản lý dự án,Trên 300 người,2,15.0,20.0,17.5
950,TP.HCM,2 tháng,Quản lý cấp trung,NaN,1,Toàn thời gian cố định,24 - 33 tuổi,Cao đẳng,2 năm,Marketing/Bán hàng - Kinh doanh/Thông tin - Tr...,10 - 150 người,2,15.0,20.0,17.5
1758,TP.HCM,2 tháng,Chuyên viên- nhân viên,Nữ,2,Theo hợp đồng tư vấn,18 - 30 tuổi,Cao đẳng,Dưới 1 năm,Bán sỉ - Bán lẻ - Quản lý cửa hàng/Bán hàng - ...,Dưới 10 người,1,7.0,11.0,9.0

In [29]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1787 entries, 0 to 1876
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Khu vực tuyển         1787 non-null   object
 1   Thời gian thử việc    946 non-null    object
 2   Cấp bậc               1787 non-null   object
 3   Yêu cầu giới tính     493 non-null    object
 4   Số lượng tuyển        1787 non-null   int64
 5   Hình thức làm việc    1787 non-null   object
 6   Độ tuổi               784 non-null    object
 7   Yêu cầu bằng cấp      1566 non-null   object
 8   Yêu cầu kinh nghiệm   1787 non-null   object
 9   Ngành nghề            1787 non-null   object
 10  Quy mô công ty        1787 non-null   object
 11  Loại công ty          1787 non-null   int32
 12  Mức lương thấp nhất   1787 non-null   float64
 13  Mức lương cao nhất    1787 non-null   float64
 14  Mức lương trung bình  1787 non-null   float64
dtypes: float64(3), int32(1), int64(1), object(10)
memory usage: 216.4+ KB

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột Thời gian thử việc </b></font>

In [30]:
print(raw_data['Thời gian thử việc'].info())
print(raw_data['Thời gian thử việc'].value_counts())

<class 'pandas.core.series.Series'>
Index: 1787 entries, 0 to 1876
Series name: Thời gian thử việc
Non-Null Count  Dtype
--------------  -----
946 non-null    object
dtypes: object(1)
memory usage: 27.9+ KB
None
Thời gian thử việc
2 tháng          729
1 tháng          166
3 tháng           16
02 tháng          11
01 tháng           7
0.5 tháng          4
1.5 tháng          3
2 tháng tháng      2
2  tháng           2
1  tháng           2
1 Tháng tháng      1
1 tháng tháng      1
6 tháng            1
0.1 tháng          1
Name: count, dtype: int64

In [31]:
# Lấy phần số trong chuỗi
def get_number(string):
    try:
        return float(string.split(' ')[0])
    except:
        return np.nan
raw_data['Thời gian thử việc'] = raw_data['Thời gian thử việc'].apply(get_number)
print(raw_data['Thời gian thử việc'].info())
print(raw_data['Thời gian thử việc'].value_counts())

<class 'pandas.core.series.Series'>
Index: 1787 entries, 0 to 1876
Series name: Thời gian thử việc
Non-Null Count  Dtype
--------------  -----
946 non-null    float64
dtypes: float64(1)
memory usage: 27.9 KB
None
Thời gian thử việc
2.0    744
1.0    177
3.0     16
0.5      4
1.5      3
6.0      1
0.1      1
Name: count, dtype: int64

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b> Xử lý cột Yêu cầu giới tính</b></font>

In [32]:
raw_data['Yêu cầu giới tính'].info()

<class 'pandas.core.series.Series'>
Index: 1787 entries, 0 to 1876
Series name: Yêu cầu giới tính
Non-Null Count  Dtype
--------------  -----
493 non-null    object
dtypes: object(1)
memory usage: 27.9+ KB

In [33]:
raw_data['Yêu cầu giới tính'].value_counts()

Yêu cầu giới tính
Nam    325
Nữ     168
Name: count, dtype: int64

In [34]:
# Thay thế nhưng cột không có thông  thành Không yêu cầu
raw_data['Yêu cầu giới tính'].fillna('Không yêu cầu', inplace=True)
raw_data['Yêu cầu giới tính'].value_counts()

Yêu cầu giới tính
Không yêu cầu    1294
Nam               325
Nữ                168
Name: count, dtype: int64

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột dữ liệu Yêu cầu bằng cấp</b></font>

- Có thể thấy dữ liệu khá đầy đủ chỉ riêng cột 'Yêu cầu bằng cấp' có thiếu dữ liệu. Vậy chúng ta sẽ xử lí cột này.

In [35]:
raw_data['Yêu cầu bằng cấp'].value_counts()

Yêu cầu bằng cấp
Cao đẳng     528
Trung học    420
Trung cấp    304
Đại học      294
Chứng chỉ     20
Name: count, dtype: int64

- Đây là một tiêu chí khá quan trọng khi tuyển hoặc tìm việc làm vì vậy khi trường này trống thì có thể hiểu được trong trường hợp này sẽ do phần lớn công việc không có yêu cầu về bằng cấp. Vậy ta sẽ điền 'Không' vào các vị trí bị thiếu dữ liệu.

In [36]:
raw_data['Yêu cầu bằng cấp'].replace(np.nan, 'Không', inplace=True)

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột dữ liệu Đô tuổi</b></font>

In [37]:
print(raw_data['Độ tuổi'].info())
print(raw_data['Độ tuổi'].value_counts())

<class 'pandas.core.series.Series'>
Index: 1787 entries, 0 to 1876
Series name: Độ tuổi
Non-Null Count  Dtype
--------------  -----
784 non-null    object
dtypes: object(1)
memory usage: 27.9+ KB
None
Độ tuổi
18 - 35 tuổi    96
18 - 30 tuổi    75
22 - 35 tuổi    39
25 - 35 tuổi    38
25 - 40 tuổi    30
                ..
20 - 26 tuổi     1
22 - 42 tuổi     1
27 - 42 tuổi     1
26 - 30 tuổi     1
20 - 23 tuổi     1
Name: count, Length: 132, dtype: int64

- Ở cột đổ tuổi thì có format như ở mức lương nên nhóm em quyết định chia ra thành: Tuổi thấp nhất và Tuổi cao nhất và Tuổi trung bình. Những giá trị còn thiếu thì là np.nan

In [38]:
# format '18 - 35 tuổi' thành 2 cột là tuổi cao nhất và tuổi thấp nhất, Tuổi trung bình
def process_age(age):
    try:
        a, b = age.split(' - ')
        a = int(a)
        b = int(b.replace(' tuổi', ''))
        return pd.Series([a, b, (a + b) / 2])
    except:
        return pd.Series([np.nan, np.nan, np.nan])
raw_data[['Tuổi thấp nhất', 'Tuổi cao nhất', 'Tuổi trung bình']] = raw_data['Độ tuổi'].apply(process_age)
raw_data.drop('Độ tuổi', axis=1, inplace=True)
raw_data.sample(5)

,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Quy mô công ty,Loại công ty,Mức lương thấp nhất,Mức lương cao nhất,Mức lương trung bình,Tuổi thấp nhất,Tuổi cao nhất,Tuổi trung bình
1759,TP.HCM,2.0,Chuyên viên- nhân viên,Không yêu cầu,5,Theo hợp đồng tư vấn,Đại học,Dưới 1 năm,Giáo dục - Đào tạo,Dưới 10 người,1,7.0,15.0,11.0,NaN,NaN,NaN
1316,Tiền Giang,NaN,Chuyên viên- nhân viên,Nam,3,Toàn thời gian cố định,Không,Dưới 1 năm,Vận Tải - Lái xe - Giao nhận/Lao động phổ thôn...,10 - 150 người,1,6.0,10.0,8.0,22.0,40.0,31.0
561,Đồng Nai,NaN,Chuyên viên- nhân viên,Nam,15,Toàn thời gian cố định,Trung học,Chưa có kinh nghiệm,An ninh - Bảo vệ/Khách sạn - Nhà hàng - Du lịc...,Trên 300 người,2,7.0,10.0,8.5,18.0,55.0,36.5
324,"TP.HCM, Hà Nội, Nghệ An, Đồng Nai",NaN,Chuyên viên- nhân viên,Không yêu cầu,3,Toàn thời gian cố định,Cao đẳng,1 năm,Bán hàng - Kinh doanh/Bán sỉ - Bán lẻ - Quản l...,150 - 300 người,1,10.0,20.0,15.0,23.0,35.0,29.0
1300,Ninh Thuận,2.0,Chuyên viên- nhân viên,Nam,2,Toàn thời gian cố định,Đại học,2 năm,Xây dựng/Thiết kế - Sáng tạo nghệ thuật,Trên 300 người,2,10.0,18.0,14.0,NaN,NaN,NaN

## Nhóm đã duyệt qua tất cả dữ liệu và xử lý các cột dữ liệu thiếu, nhiễu, không chuẩn. Tiếp theo chúng ta sẽ kiểm tra dữ liệu

- Kiểm tra trùng lặp dữ liệu

In [39]:
is_duplicate = raw_data.duplicated().any()
if is_duplicate:
    print("Có sự trùng lặp dữ liệu")
else:
    print("Không có sự trùng lặp dữ liệu")

Có sự trùng lặp dữ liệu

- Có sự trùng lặp trong bộ dữ liệu nên chúng ta sẽ phải xử lí

In [40]:
#remove duplicate
raw_data.drop_duplicates(inplace=True)
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1679 entries, 0 to 1876
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Khu vực tuyển         1679 non-null   object
 1   Thời gian thử việc    848 non-null    float64
 2   Cấp bậc               1679 non-null   object
 3   Yêu cầu giới tính     1679 non-null   object
 4   Số lượng tuyển        1679 non-null   int64
 5   Hình thức làm việc    1679 non-null   object
 6   Yêu cầu bằng cấp      1679 non-null   object
 7   Yêu cầu kinh nghiệm   1679 non-null   object
 8   Ngành nghề            1679 non-null   object
 9   Quy mô công ty        1679 non-null   object
 10  Loại công ty          1679 non-null   int32
 11  Mức lương thấp nhất   1679 non-null   float64
 12  Mức lương cao nhất    1679 non-null   float64
 13  Mức lương trung bình  1679 non-null   float64
 14  Tuổi thấp nhất        730 non-null    float64
 15  Tuổi cao nhất         730 non-null    float64
 16  Tuổi trung bình       730 non-null    float64
dtypes: float64(7), int32(1), int64(1), object(8)
memory usage: 229.6+ KB

In [41]:
# Lưu các giá tri vào file cleaned_dataset.csv
raw_data.to_csv('../data/cleaned_dataset.csv', index=False)