# Tổng quan phần tiền xử lý và khám phá dữ liệu

- Xử lí thiếu dữ liệu

- Xử lí nhiễu

- Chuẩn hóa dữ liệu

- Đưa ra những cái nhìn đầu tiên về dữ liệu

## 1. Import libraries

In [267]:
#import các thư viện cần thiết
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer

## 2. Data pre-precessing and exploration

- Đọc dữ liệu từ data/raw_dataset.csv

In [268]:
raw_data = pd.read_csv('../data/raw_dataset.csv')
raw_data.sample(5)

,Liên kết,Tên công ty,Tên công việc,Mức lương,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,...,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Địa điểm làm việc,Mô tả công việc,Yêu cầu công việc,Quyền lợi,Từ khóa,Địa chỉ công ty,Quy mô công ty
1838,https://vieclam24h.vn/san-xuat-lap-rap-che-bie...,Công Ty TNHH SX-TM-DV Nam Cường,Thực Tập Sinh Điện Công Nghiệp / Điện Lạnh,5 - 8 triệu,Bình Dương,1 tháng,Chuyên viên- nhân viên,Nam,2,Thực tập,...,Trung cấp,Chưa có kinh nghiệm,Sản xuất - Lắp ráp - Chế biến/Vận hành - Bảo t...,"Bình Dương, 219/2 khu phố 1B, An Phú, Thuận An",Sửa chữa khắc phục kịp thời sự cố theo yêu cầu...,"Học chuyên về điện công nghiệp, điện lạnh bậc ...",Mộc đánh giá sau thực tập.Cơm giữa ca đủ dinh ...,sinhckhu công nghiệp đà nẵngViệc làm Bình Dươn...,"33 đường 18, P. Hiệp Bình Chánh, TP. Thủ ...",150 - 300 người
361,https://vieclam24h.vn/dien-dien-tu-dien-lanh/k...,Công Ty Cổ Phần Cpi Hà Linh,Kỹ Sư Cơ Điện,10 - 18 triệu,Hà Nội,2 tháng,Chuyên viên- nhân viên,NaN,3,Toàn thời gian cố định,...,Cao đẳng,1 năm,Điện - Điện tử - Điện lạnh/Khoa học - Kỹ thuật...,"Hà Nội, Số 2, Liền kề 4A, KĐT Mộ Lao, Hà Đông","- Thiết kế bản vẽ kỹ thuật cho hệ thống điện, ...","Tốt nghiệp các trường Cao đẳng, Đại học chuyên...","- Mức Lương: 10 -18 triệu (Thỏa thuận, tùy the...",Việc làm Hà NộiĐiện - Điện tử - Điện lạnhCông ...,"Tầng 1, số 02 , LK4A , KĐT Mỗ Lao - Phường Mộ ...",10 - 150 người
1153,https://vieclam24h.vn/y-te-cham-soc-suc-khoe/b...,Công Ty TNHH Bệnh Viện Chuyên Khoa Thẩm Mỹ Việ...,Bác Sĩ Gây Mê Hồi Sức,50 - 100 triệu,TP.HCM,NaN,Chuyên viên- nhân viên,NaN,2,Toàn thời gian cố định,...,Đại học,5 năm,Y tế - Chăm sóc sức khỏe/Nghề nghiệp khác,"TP.HCM, 331 Nguyễn Trãi, Phường Nguyễn Cư Trin...","- Tiếp nhận, thăm khám người bệnh trước phẫu t...",- Trình độ chuyên môn: Bác sĩ tốt nghiệp sau...,- Lương : 50tr – 100tr.- Được hưởng đầy đủ quy...,cquận 1 thành phố hồ chí minhbác sĩ gây m...,"331 Nguyễn Trãi, Phường Nguyễn Cư Trinh, Quận ...",10 - 150 người
1185,https://vieclam24h.vn/tai-chinh-dau-tu-chung-k...,Công ty Tài Chính TNHH HD SAISON,Nhân Viên Tư Vấn Tín Dụng - Kênh Trả Góp - Tp ...,8 - 15 triệu,Sơn La,2 tháng,Chuyên viên- nhân viên,NaN,10,Toàn thời gian cố định,...,Trung học,Dưới 1 năm,Tài chính - Đầu tư - Chứng Khoán/Ngân hàng/Bán...,"Sơn La, Sơn La",- Khi trở thành Nhân viên Điểm giới thiệu dịch...,- Bạn chỉ cần tốt nghiệp trình độ từ THPT trở ...,"- Làm việc trong một môi trường chuyên nghiệp,...",sơntư vấn sơn laViệc làm Sơn LaTài chính - Đầu...,"Tầng 8, Tòa nhà Gilimex, 24C Phan Đăng Lưu, ph...",Trên 300 người
1693,https://vieclam24h.vn/ban-hang-kinh-doanh/nhan...,Công Ty Cổ Phần Dinh Dưỡng Dược Newland,Nhân Viên Bán Hàng,4 - 9 triệu,TP.HCM,NaN,Cộng tác viên,NaN,3,Bán thời gian cố định,...,NaN,Chưa có kinh nghiệm,Bán hàng - Kinh doanh/Chăm sóc khách hàng/Bán ...,"TP.HCM, Phú Nhuận",1. Giao Dịch Trực Tiếp với Khách Hàng:Liên hệ ...,1. Độ tuổi từ 18 trở lên 2. Yêu Cầu:Tư Cách và...,1. Thưởng Doanh Số Bán Hàng: Chúng tôi sẽ thưở...,bán hàngquận phú nhuậngiám sát tạp vụViệc làm ...,42A Hoa Cúc. Phường 7. Phú Nhuận,150 - 300 người

## Đầu tiên chúng ta cần một cái nhìn tổng quan về dữ liệu này

In [269]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1877 entries, 0 to 1876
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Liên kết             1877 non-null   object
 1   Tên công ty          1877 non-null   object
 2   Tên công việc        1877 non-null   object
 3   Mức lương            1877 non-null   object
 4   Khu vực tuyển        1877 non-null   object
 5   Thời gian thử việc   993 non-null    object
 6   Cấp bậc              1877 non-null   object
 7   Yêu cầu giới tính    516 non-null    object
 8   Số lượng tuyển       1877 non-null   int64
 9   Hình thức làm việc   1877 non-null   object
 10  Độ tuổi              812 non-null    object
 11  Yêu cầu bằng cấp     1639 non-null   object
 12  Yêu cầu kinh nghiệm  1877 non-null   object
 13  Ngành nghề           1877 non-null   object
 14  Địa điểm làm việc    1876 non-null   object
 15  Mô tả công việc      1877 non-null   object
 16  Yêu cầu công việc    1877 non-null   object
 17  Quyền lợi            1877 non-null   object
 18  Từ khóa              1877 non-null   object
 19  Địa chỉ công ty      1877 non-null   object
 20  Quy mô công ty       1877 non-null   object
dtypes: int64(1), object(20)
memory usage: 308.1+ KB

**Giải thích ý nghĩa các cột trong raw data và khám phá kiểu dữ liệu cũng như định dạng của chúng:**
0. Liên kết : Liến đển đến trang tuyển dụng của trang web
1. Tên công ty: Tên công ty tuyển dụng
- Dự vào tên công ty ta thấy có 2 loại công ty là công ty cổ phần, công ty trách nhiệm hữu hạn.
2. Tên công việc : Tên công việc đang cần uyển dụng
3. Mức lương: Mức lương tuyển dụng theo định dạng như:  **'7 - 10 triệu'**
4. Khu vực tuyển dụng: Đó là một list các tỉnh thành được ngăn cách nhau bởi dấu ,
5. Thời gian thử việc
6. Cấp bậc: Cấp bậc của công việc đang tuyển dụng
7. Yêu cầu giới tính: Một số công việc chỉ ưu tiên nữa hoặc ưu tiên nam.
8. Số lượng tuyển: có kiểu **int64**
9.  Hình thức làm việc
10. Yêu cầu bằng cấp
11. Yêu cầu kinh nghiệm: '1 năm', '2 năm', ...
12. Ngành nghề: Là một list các ngành nghề được ngăn cách nhau bởi dấu / 'Bán hàng - Kinh doanh/Bất động sản/Bảo hiểm'
13. Điah điểm làm việc: Địa chỉ cụ thể của nơi làm việc
14. Mô tả công việc: Mô tả công việc đang tuyển dụng
15. Quyền lợi được hưởng: Quyền lợi được hưởng khi làm việc tại công ty
16. Từ khóa: Từ khóa của công việc đang tuyển dụng
17. Địa chỉ công ty: Địa chỉ công ty
18. Quy mô công ty: Quy mô công ty
 

= > Để tiếp tực khám phá dữ liệu ta cần phải loại bở những cột không cần thiết, xử lý những cột còn thiếu dữ liệu, những cột có dữ liệu nhiễu, những cột có dữ liệu không chuẩn.

- Vì có một số công việc được đăng tuyển dụng nhiều lần nhưng mỗi lần đăng thì giá trị cột liên kết sẽ khác nhau nên việc kiểm tra trùng lặp dữ liệu sẽ được nhóm thực hiện sau khi đã loại bỏ cột này

- Xem dữ liệu ban đầu có mất mát là bao nhiêu %

In [270]:
percentage_missing_data = pd.DataFrame(raw_data.isnull().sum().sort_values(ascending=False) / len(raw_data) * 100, columns=['% missing'])
percentage_missing_data

                     % missing
Yêu cầu giới tính    72.509323
Độ tuổi              56.739478
Thời gian thử việc   47.096430
Yêu cầu bằng cấp     12.679808
Địa điểm làm việc     0.053277
Yêu cầu kinh nghiệm   0.000000
Địa chỉ công ty       0.000000
Từ khóa               0.000000
Quyền lợi             0.000000
Yêu cầu công việc     0.000000
Mô tả công việc       0.000000
Ngành nghề            0.000000
Liên kết              0.000000
Tên công ty           0.000000
Hình thức làm việc    0.000000
Số lượng tuyển        0.000000
Cấp bậc               0.000000
Khu vực tuyển         0.000000
Mức lương             0.000000
Tên công việc         0.000000
Quy mô công ty        0.000000

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột Tên Công ty</b></font>

- Ở cột tên công Có 2 loại Công ty TNHH và công ty cổ phần. Nhóm sẽ thêm cột loại Công ty để phân biệt 2 loại công ty này.

In [271]:
cp_signal = [ 'cp', 'cổ phần']
tnhh_signal = ['tnhh','một thành viên', 'tư nhân', 'trách nhiệm hữu hạn' , 'hộ kinh doanh']
name_company = raw_data['Tên công ty'].str.lower()
# name_company
# Phân tích thành 2 loại công ty: TNHH và Cổ phần nếu bất kỳ chuyển nào so khớp với tên công ty
# Nếu khớp với một trong 2 loại thì gán cho cột Loại công ty. 1 Cho công ty tnhh, 2 cho công ty cổ phần và 0 nếu không khớp với bất kỳ giá trị nào 

conditions = [
    name_company.str.contains('|'.join(tnhh_signal), regex=True, na=False),
    name_company.str.contains('|'.join(cp_signal), regex=True, na=False)
]

# Tạo danh sách giá trị tương ứng cho mỗi điều kiện
values = [1, 2]

# Áp dụng hàm np.select để gán giá trị cho cột 'Loại công ty'
raw_data['Loại công ty'] = np.select(conditions, values, default=0)
print(raw_data['Loại công ty'].value_counts())
# Xóa những dòng không xác định được loại công ty
raw_data = raw_data[raw_data['Loại công ty'] != 0]

Loại công ty
1    1251
2     550
0      76
Name: count, dtype: int64

- Một số cột không có nhiều giá trị trong quá trình phân tích của nhóm, hoặc dữ liệu không theo quy chuẩn khó khai thác như: 'Liên kết', 'Mô tả công việc', 'Quyền lợi', 'Yêu cầu công việc', 'Từ khóa'. Sẽ được nhóm bỏ qua trong đồ án này.

In [272]:
raw_data.drop(['Liên kết','Tên công ty','Tên công việc', 'Mô tả công việc', 'Quyền lợi', 'Yêu cầu công việc', 'Từ khóa','Địa điểm làm việc', 'Địa chỉ công ty'], axis=1, inplace=True)
raw_data.sample(5)

,Mức lương,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,Độ tuổi,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Quy mô công ty,Loại công ty
977,10 - 18 triệu,Long An,2 tháng,Chuyên viên- nhân viên,Nam,2,Toàn thời gian cố định,23 - 40 tuổi,Cao đẳng,1 năm,Vận hành - Bảo trì - Bảo dưỡng/Khoa học - Kỹ t...,10 - 150 người,1
139,Thoả thuận,TP.HCM,NaN,Quản lý cấp cao,Nữ,1,Toàn thời gian cố định,NaN,NaN,3 năm,Khách sạn - Nhà hàng - Du lịch/Quản lý tiêu ch...,10 - 150 người,1
535,8 - 12 triệu,TP.HCM,NaN,Chuyên viên- nhân viên,Nam,2,Toàn thời gian cố định,NaN,Cao đẳng,1 năm,Luật - Pháp Lý - Tuân thủ/Hành chính - Thư ký,10 - 150 người,1
1371,8 - 20 triệu,TP.HCM,2 tháng,Chuyên viên- nhân viên,NaN,5,Toàn thời gian cố định,NaN,Cao đẳng,Chưa có kinh nghiệm,Giáo dục - Đào tạo/IT Phần mềm/IT Phần cứng - ...,Trên 300 người,1
98,13 - 17 triệu,TP.HCM,2 tháng,Quản lý nhóm- giám sát,NaN,2,Toàn thời gian cố định,NaN,Cao đẳng,3 năm,Sản xuất - Lắp ráp - Chế biến/Điện - Điện tử -...,Trên 300 người,1

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột Mức lương</b></font>

- Tiếp đến chúng ta cần xử lý cột lương để đưa cột này về một giá trị có kiểu dữ liệu np.float64 thay vì object. Vì các giá trị lương được định nghĩa là một khoảng 'a - b triệu' nhóm quyết định sẽ lấy lương là trung bình của khoảng này. Bên cạnh đó còn có một số công việc để mức lương này có giá trị là 'Thỏa thuận', vì số lượng này không nhiều nên nhóm quyết định sẽ loại bỏ các công việc này.

In [273]:
df = raw_data[raw_data['Mức lương'] == 'Thoả thuận ']
print(df.shape)
#Chỉ có 15 trường hợp như thế này 
#=> Xóa các trường hợp này đi
raw_data.drop(df.index, inplace=True)

(14, 13)

In [274]:
def process_salary(salary):
    try:
        a, b = salary.split(' - ')
        a = float(a)
        b = float(b.replace(' triệu', ''))
        return pd.Series([a, b, (a + b) / 2])
    except:
        # Lấy số trong lương
        salary = float(salary.replace(' triệu', ''))
        return pd.Series([salary, salary, salary])
raw_data[['Mức lương thấp nhất', 'Mức lương cao nhất', 'Mức lương trung bình']] = raw_data['Mức lương'].apply(process_salary)
raw_data.drop('Mức lương', axis=1, inplace=True)
raw_data.sample(5)

,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,Độ tuổi,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Quy mô công ty,Loại công ty,Mức lương thấp nhất,Mức lương cao nhất,Mức lương trung bình
141,TP.HCM,1 tháng,Chuyên viên- nhân viên,Nam,2,Toàn thời gian cố định,23 - 33 tuổi,Cao đẳng,1 năm,IT Phần cứng - Mạng/Khoa học - Kỹ thuật/Điện -...,10 - 150 người,1,10.0,15.0,12.5
1641,TP.HCM,NaN,Cộng tác viên,NaN,3,Bán thời gian cố định,NaN,NaN,Chưa có kinh nghiệm,Kế toán/Thực tập sinh/Hành chính - Thư ký,Trên 300 người,1,1.0,3.0,2.0
1720,TP.HCM,0.1 tháng,Chuyên viên- nhân viên,Nữ,5,Bán thời gian tạm thời,16 - 19 tuổi,Cao đẳng,Chưa có kinh nghiệm,Thực tập sinh/Thu mua - Kho Vận - Chuỗi cung ứng,Dưới 10 người,1,4.0,12.0,8.0
310,TP.HCM,2 tháng,Chuyên viên- nhân viên,NaN,10,Toàn thời gian cố định,18 - 30 tuổi,NaN,Chưa có kinh nghiệm,Bán sỉ - Bán lẻ - Quản lý cửa hàng/Chăm sóc kh...,150 - 300 người,1,8.0,15.0,11.5
388,Hà Nội,NaN,Chuyên viên- nhân viên,NaN,1,Toàn thời gian cố định,NaN,Trung học,1 năm,Bán hàng - Kinh doanh/Bán sỉ - Bán lẻ - Quản l...,Trên 300 người,1,5.0,6.0,5.5

In [275]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1787 entries, 0 to 1876
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Khu vực tuyển         1787 non-null   object
 1   Thời gian thử việc    946 non-null    object
 2   Cấp bậc               1787 non-null   object
 3   Yêu cầu giới tính     493 non-null    object
 4   Số lượng tuyển        1787 non-null   int64
 5   Hình thức làm việc    1787 non-null   object
 6   Độ tuổi               784 non-null    object
 7   Yêu cầu bằng cấp      1566 non-null   object
 8   Yêu cầu kinh nghiệm   1787 non-null   object
 9   Ngành nghề            1787 non-null   object
 10  Quy mô công ty        1787 non-null   object
 11  Loại công ty          1787 non-null   int32
 12  Mức lương thấp nhất   1787 non-null   float64
 13  Mức lương cao nhất    1787 non-null   float64
 14  Mức lương trung bình  1787 non-null   float64
dtypes: float64(3), int32(1), int64(1), object(10)
memory usage: 216.4+ KB

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột Thời gian thử việc </b></font>

In [276]:
print(raw_data['Thời gian thử việc'].info())
print(raw_data['Thời gian thử việc'].value_counts())

<class 'pandas.core.series.Series'>
Index: 1787 entries, 0 to 1876
Series name: Thời gian thử việc
Non-Null Count  Dtype
--------------  -----
946 non-null    object
dtypes: object(1)
memory usage: 27.9+ KB
None
Thời gian thử việc
2 tháng          729
1 tháng          166
3 tháng           16
02 tháng          11
01 tháng           7
0.5 tháng          4
1.5 tháng          3
2 tháng tháng      2
2  tháng           2
1  tháng           2
1 Tháng tháng      1
1 tháng tháng      1
6 tháng            1
0.1 tháng          1
Name: count, dtype: int64

In [277]:
# Lấy phần số trong chuỗi
def get_number(string):
    try:
        return float(string.split(' ')[0])
    except:
        return np.nan
raw_data['Thời gian thử việc'] = raw_data['Thời gian thử việc'].apply(get_number)
print(raw_data['Thời gian thử việc'].info())
print(raw_data['Thời gian thử việc'].value_counts())

<class 'pandas.core.series.Series'>
Index: 1787 entries, 0 to 1876
Series name: Thời gian thử việc
Non-Null Count  Dtype
--------------  -----
946 non-null    float64
dtypes: float64(1)
memory usage: 27.9 KB
None
Thời gian thử việc
2.0    744
1.0    177
3.0     16
0.5      4
1.5      3
6.0      1
0.1      1
Name: count, dtype: int64

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b> Xử lý cột Yêu cầu giới tính</b></font>

In [278]:
raw_data['Yêu cầu giới tính'].info()

<class 'pandas.core.series.Series'>
Index: 1787 entries, 0 to 1876
Series name: Yêu cầu giới tính
Non-Null Count  Dtype
--------------  -----
493 non-null    object
dtypes: object(1)
memory usage: 27.9+ KB

In [279]:
raw_data['Yêu cầu giới tính'].value_counts()

Yêu cầu giới tính
Nam    325
Nữ     168
Name: count, dtype: int64

In [280]:
# Thay thế nhưng cột không có thông  thành Không yêu cầu
raw_data['Yêu cầu giới tính'].fillna('Không yêu cầu', inplace=True)
raw_data['Yêu cầu giới tính'].value_counts()

Yêu cầu giới tính
Không yêu cầu    1294
Nam               325
Nữ                168
Name: count, dtype: int64

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột dữ liệu Yêu cầu bằng cấp</b></font>

- Có thể thấy dữ liệu khá đầy đủ chỉ riêng cột 'Yêu cầu bằng cấp' có thiếu dữ liệu. Vậy chúng ta sẽ xử lí cột này.

In [281]:
raw_data['Yêu cầu bằng cấp'].value_counts()

Yêu cầu bằng cấp
Cao đẳng     528
Trung học    420
Trung cấp    304
Đại học      294
Chứng chỉ     20
Name: count, dtype: int64

- Đây là một tiêu chí khá quan trọng khi tuyển hoặc tìm việc làm vì vậy khi trường này trống thì có thể hiểu được trong trường hợp này sẽ do phần lớn công việc không có yêu cầu về bằng cấp. Vậy ta sẽ điền 'Không' vào các vị trí bị thiếu dữ liệu.

In [282]:
raw_data['Yêu cầu bằng cấp'].replace(np.nan, 'Không', inplace=True)

<div style="border-radius: 10px; border: 2px solid #51F9F4; padding: 15px; background-color:#c2eeec; font-size: 100%; text-align: left;">
    
<font size="+1" color=#215C67><b>Xử lý cột dữ liệu Đô tuổi</b></font>

In [283]:
print(raw_data['Độ tuổi'].info())
print(raw_data['Độ tuổi'].value_counts())

<class 'pandas.core.series.Series'>
Index: 1787 entries, 0 to 1876
Series name: Độ tuổi
Non-Null Count  Dtype
--------------  -----
784 non-null    object
dtypes: object(1)
memory usage: 27.9+ KB
None
Độ tuổi
18 - 35 tuổi    96
18 - 30 tuổi    75
22 - 35 tuổi    39
25 - 35 tuổi    38
25 - 40 tuổi    30
                ..
20 - 26 tuổi     1
22 - 42 tuổi     1
27 - 42 tuổi     1
26 - 30 tuổi     1
20 - 23 tuổi     1
Name: count, Length: 132, dtype: int64

- Ở cột đổ tuổi thì có format như ở mức lương nên nhóm em quyết định chia ra thành: Tuổi thấp nhất và Tuổi cao nhất và Tuổi trung bình. Những giá trị còn thiếu thì là np.nan

In [284]:
# format '18 - 35 tuổi' thành 2 cột là tuổi cao nhất và tuổi thấp nhất, Tuổi trung bình
def process_age(age):
    try:
        a, b = age.split(' - ')
        a = int(a)
        b = int(b.replace(' tuổi', ''))
        return pd.Series([a, b, (a + b) / 2])
    except:
        return pd.Series([np.nan, np.nan, np.nan])
raw_data[['Tuổi thấp nhất', 'Tuổi cao nhất', 'Tuổi trung bình']] = raw_data['Độ tuổi'].apply(process_age)
raw_data.drop('Độ tuổi', axis=1, inplace=True)
raw_data.sample(5)

,Khu vực tuyển,Thời gian thử việc,Cấp bậc,Yêu cầu giới tính,Số lượng tuyển,Hình thức làm việc,Yêu cầu bằng cấp,Yêu cầu kinh nghiệm,Ngành nghề,Quy mô công ty,Loại công ty,Mức lương thấp nhất,Mức lương cao nhất,Mức lương trung bình,Tuổi thấp nhất,Tuổi cao nhất,Tuổi trung bình
896,Kon Tum,2.0,Quản lý nhóm- giám sát,Nam,1,Toàn thời gian cố định,Cao đẳng,3 năm,Tài chính - Đầu tư - Chứng Khoán/Bán hàng - Ki...,Trên 300 người,1,15.0,25.0,20.0,30.0,45.0,37.5
1087,TP.HCM,1.0,Chuyên viên- nhân viên,Không yêu cầu,10,Toàn thời gian cố định,Trung học,1 năm,Khách sạn - Nhà hàng - Du lịch/Công nghệ thực ...,Trên 300 người,1,8.0,13.0,10.5,NaN,NaN,NaN
1508,Đồng Nai,NaN,Chuyên viên- nhân viên,Không yêu cầu,1,Toàn thời gian tạm thời,Cao đẳng,Chưa có kinh nghiệm,Phân tích - Thống kê dữ liệu/Bán hàng - Kinh d...,Trên 300 người,1,6.0,9.0,7.5,22.0,33.0,27.5
1222,Tiền Giang,2.0,Chuyên viên- nhân viên,Không yêu cầu,5,Toàn thời gian cố định,Trung học,Dưới 1 năm,Tài chính - Đầu tư - Chứng Khoán/Ngân hàng/Bán...,Trên 300 người,1,8.0,15.0,11.5,NaN,NaN,NaN
598,Hà Nội,NaN,Chuyên viên- nhân viên,Không yêu cầu,1,Toàn thời gian cố định,Trung cấp,Chưa có kinh nghiệm,Bán hàng - Kinh doanh/Bán sỉ - Bán lẻ - Quản l...,10 - 150 người,2,8.0,15.0,11.5,NaN,NaN,NaN

## Nhóm đã duyệt qua tất cả dữ liệu và xử lý các cột dữ liệu thiếu, nhiễu, không chuẩn. Tiếp theo chúng ta sẽ kiểm tra dữ liệu

- Kiểm tra trùng lặp dữ liệu

In [285]:
is_duplicate = raw_data.duplicated().any()
if is_duplicate:
    print("Có sự trùng lặp dữ liệu")
else:
    print("Không có sự trùng lặp dữ liệu")

Có sự trùng lặp dữ liệu

- Có sự trùng lặp trong bộ dữ liệu nên chúng ta sẽ phải xử lí

In [286]:
#remove duplicate
raw_data.drop_duplicates(inplace=True)
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1679 entries, 0 to 1876
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Khu vực tuyển         1679 non-null   object
 1   Thời gian thử việc    848 non-null    float64
 2   Cấp bậc               1679 non-null   object
 3   Yêu cầu giới tính     1679 non-null   object
 4   Số lượng tuyển        1679 non-null   int64
 5   Hình thức làm việc    1679 non-null   object
 6   Yêu cầu bằng cấp      1679 non-null   object
 7   Yêu cầu kinh nghiệm   1679 non-null   object
 8   Ngành nghề            1679 non-null   object
 9   Quy mô công ty        1679 non-null   object
 10  Loại công ty          1679 non-null   int32
 11  Mức lương thấp nhất   1679 non-null   float64
 12  Mức lương cao nhất    1679 non-null   float64
 13  Mức lương trung bình  1679 non-null   float64
 14  Tuổi thấp nhất        730 non-null    float64
 15  Tuổi cao nhất         730 non-null    float64
 16  Tuổi trung bình       730 non-null    float64
dtypes: float64(7), int32(1), int64(1), object(8)
memory usage: 229.6+ KB

# Kiểm tra lại dữ liệu sau khi đã xử lí

- Xác định Phần trăm dữ liệu bị thiếu

In [287]:
# Phần trăm dữ liệu bị thiếu và sắp xếp giảm dần
percentage_missing_data = pd.DataFrame(raw_data.isnull().sum().sort_values(ascending=False) / len(raw_data) * 100, columns=['% missing'])
percentage_missing_data

                      % missing
Tuổi trung bình       56.521739
Tuổi cao nhất         56.521739
Tuổi thấp nhất        56.521739
Thời gian thử việc    49.493746
Quy mô công ty         0.000000
Mức lương trung bình   0.000000
Mức lương cao nhất     0.000000
Mức lương thấp nhất    0.000000
Loại công ty           0.000000
Khu vực tuyển          0.000000
Yêu cầu kinh nghiệm    0.000000
Yêu cầu bằng cấp       0.000000
Hình thức làm việc     0.000000
Số lượng tuyển         0.000000
Yêu cầu giới tính      0.000000
Cấp bậc                0.000000
Ngành nghề             0.000000

- Dự liệu tuổi và thời gian thử việc có rất nhiều missing do đó nhóm em quyết định dùng thuật toán KNN để điền khuyết dữ liệu

In [288]:

# Đảm bảo không có nhãn nào bị missing
mutil_label_features = ['Khu vực tuyển', 'Ngành nghề']
single_label_features = [ 'Cấp bậc', 'Số lượng tuyển','Hình thức làm việc','Yêu cầu bằng cấp', 
                'Yêu cầu kinh nghiệm', 'Quy mô công ty', 'Loại công ty']
targets = ['Thời gian thử việc', 'Tuổi thấp nhất', 'Tuổi cao nhất']

# Chuẩn bị dữ liệu
df_knn = raw_data[single_label_features].copy()
# Chức năng để tách dữ liệu
def split_labels(column, separator):
    return [[label.strip() for label in labels.split(separator)] for labels in column]

# Tách 'Khu vực tuyển'
khu_vuc_labels = split_labels(raw_data['Khu vực tuyển'], ', ')

# Tách 'Ngành nghề'
nganh_nghe_labels = split_labels(raw_data['Ngành nghề'], '/')

# Khởi tạo và áp dụng MultiLabelBinarizer
mlb_khu_vuc = MultiLabelBinarizer()
mlb_nganh_nghe = MultiLabelBinarizer()

khu_vuc_binarized = mlb_khu_vuc.fit_transform(khu_vuc_labels)
nganh_nghe_binarized = mlb_nganh_nghe.fit_transform(nganh_nghe_labels)

# Tạo DataFrame mới từ kết quả nhị phân
khu_vuc_df = pd.DataFrame(khu_vuc_binarized, columns=mlb_khu_vuc.classes_)
nganh_nghe_df = pd.DataFrame(nganh_nghe_binarized, columns=mlb_nganh_nghe.classes_)

# Đặt lại chỉ mục cho các DataFrame
df_knn.reset_index(drop=True, inplace=True)
khu_vuc_df.reset_index(drop=True, inplace=True)
nganh_nghe_df.reset_index(drop=True, inplace=True)

df_knn = pd.concat([df_knn, khu_vuc_df, nganh_nghe_df], axis=1)

# Mã hóa nhãn cho các cột chọn lựa
for col in single_label_features:
    le = LabelEncoder()
    df_knn[col] = le.fit_transform(df_knn[col])
    
print(df_knn.shape)
# Kiểm tra xem có giá trị Nan nào không và nằn ở những cột nào
assert df_knn.isnull().any().any() == False

(1679, 120)

In [289]:
print("Trước khi điền:", raw_data[targets].isnull().sum())

Trước khi điền: Thời gian thử việc    831
Tuổi thấp nhất        949
Tuổi cao nhất         949
dtype: int64

In [290]:

# Tạo DataFrame chứa cả đặc trưng và mục tiêu
df_full = pd.concat([df_knn, raw_data[targets]], axis=1)

# Áp dụng KNNImputer
# Bạn có thể điều chỉnh tham số 'n_neighbors' tùy thuộc vào dữ liệu của bạn
imputer = KNNImputer(n_neighbors=5)
df_imputed = imputer.fit_transform(df_full)
df_imputed = pd.DataFrame(df_imputed, columns=df_full.columns)
# Cập nhật lại các cột mục tiêu trong DataFrame gốc
for target in targets:
    raw_data[target] = df_imputed[target]

# Kiểm tra DataFrame sau khi điền dữ liệu
print("Sau khi điền:", raw_data[targets].isnull().sum())

Sau khi điền: Thời gian thử việc    12
Tuổi thấp nhất        12
Tuổi cao nhất         12
dtype: int64

In [291]:
# Tính tuổi trung bình cho cột còn lại
raw_data['Tuổi trung bình'] = (raw_data['Tuổi thấp nhất'] + raw_data['Tuổi cao nhất']) / 2
# Như vậy vẫn còn 12 dòng không thể điền dữ liệu, vì thế ta sẽ xóa những dòng này đi
raw_data.dropna(inplace=True)

In [292]:
raw_data[targets].describe()

       Thời gian thử việc  Tuổi thấp nhất  Tuổi cao nhất
count         1667.000000     1667.000000    1667.000000
mean             1.795901       21.500039      35.546510
std              0.360916        2.360706       4.987048
min              0.100000       16.000000      19.000000
25%              1.700000       20.000000      33.000000
50%              2.000000       21.464384      35.000000
75%              2.000000       22.600000      38.000000
max              6.000000       35.000000      60.000000

In [293]:
# Tên các cột dữ liệu
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1667 entries, 0 to 1864
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Khu vực tuyển         1667 non-null   object
 1   Thời gian thử việc    1667 non-null   float64
 2   Cấp bậc               1667 non-null   object
 3   Yêu cầu giới tính     1667 non-null   object
 4   Số lượng tuyển        1667 non-null   int64
 5   Hình thức làm việc    1667 non-null   object
 6   Yêu cầu bằng cấp      1667 non-null   object
 7   Yêu cầu kinh nghiệm   1667 non-null   object
 8   Ngành nghề            1667 non-null   object
 9   Quy mô công ty        1667 non-null   object
 10  Loại công ty          1667 non-null   int32
 11  Mức lương thấp nhất   1667 non-null   float64
 12  Mức lương cao nhất    1667 non-null   float64
 13  Mức lương trung bình  1667 non-null   float64
 14  Tuổi thấp nhất        1667 non-null   float64
 15  Tuổi cao nhất         1667 non-null   float64
 16  Tuổi trung bình       1667 non-null   float64
dtypes: float64(7), int32(1), int64(1), object(8)
memory usage: 227.9+ KB

In [294]:
# Lưu các giá tri vào file cleaned_dataset.csv
raw_data.to_csv('../data/cleaned_dataset.csv', index=False)